﻿<div id="AREA1">
	<table id="QUERY" class="query" style="margin-bottom: 10px;">
		<tr>
			<td class="category"><span class="item_name">item_name</span></td>
			<td><textarea class="item_name"></textarea></td>
		</tr>
		<tr>
			<td class="category"><span class="item_desc">item_desc</span></td>
			<td><input type="text" class="item_desc"/></td>
		</tr>
		<tr>
			<td class="category"><span class="category_name">category_name</span></td>
			<td id="QUERY_ITEM_CATEGORY"></td>
		</tr>
		<tr>
			<td class="category">Product Discontinued</td>
			<td><select id="ITEM_DISABLED"><option value=""></option><option value="0">No</option><option value="1">Yes</option></select></td>
		</tr>
		<tr>
			<td class="category">Product Hidden</td>
			<td><select id="ITEM_HIDE"><option value=""></option><option value="0">No</option><option value="1">Yes</option></select></td>
		</tr>
		<tr>
			<td class="category">Composite Product?</td>
			<td><select id="IS_COMPOSITE"><option value=""></option><option value="0">No</option><option value="1">Yes</option></select></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA3">
	<table id="BARCODE" class="winbond-table">
		<thead>
			<tr>
				<td><button type="button" id="BARCODE_ADD">add barcode</button><input type="hidden" class="item_id"/></td>
				<td>Barcode</td>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			<tr>
				<td colspan="2"><button type="button" class="close">Close</button></td>
			</tr>
		</tfoot>
	</table>
</div>

<style type="text/css">
#TABLE td.barcode_id {
	text-align: center;
}
#TABLE tr.item_disabled td {
	color: LightGray;
}
#TABLE tr.item_hide td {
	background-color: tomato;
	color: white;
}
#COMPOSITE_LIST input.qty {
	width: 50px;
}
</style>

<script type="text/javascript">
var IS_POPUP_WINDOW = $.query.get('menu_row_id') == '41';
var RELAY_ID_ITEM = 'shop.item';
var RELAY_ID_ITEM_CATEGORY = 'shop.item_category';
var RELAY_ID_ITEM_COLOR = 'shop.item_color';
var RELAY_ID_ITEM_SIZE = 'shop.item_size';
var RELAY_ID_ITEM_VIEW_FOR_INCOMING_ORDER = 'shop.item_view_for_incoming_order';
var TABLE;

$('#AREA3').hide();
$('#AREA1').show();

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID_ITEM_VIEW_FOR_INCOMING_ORDER,
		'action': 'init'
	},
	success: function(data) {
		var tokens = data.split(char_31);
		
		var lang_item_name = tokens.shift();
		var lang_item_desc = tokens.shift();
		var lang_category_name = tokens.shift();
		
		$('span.item_name').text(lang_item_name);
		$('span.item_desc').text(lang_item_desc);
		$('span.category_name').text(lang_category_name);
		
		var size = parseInt(tokens.shift(), 10);
		var html = '';
		for (var i = 0; i < size; i++) {
			var category_id = tokens.shift();
			var category_name = tokens.shift();
			var item_name_prefix = tokens.shift();
			html = html + '<label for="QUERY_ITEM_CATEGORY_' + category_id + '"><input type="checkbox" value="' + category_id + '" id="QUERY_ITEM_CATEGORY_' + category_id + '"/> ' + category_name + '</label>';
		}
		$('#QUERY_ITEM_CATEGORY').append(html);
		
		if (IS_POPUP_WINDOW) {
			var item_disabled = $.query.get('item_disabled');
			var item_hide = $.query.get('item_hide');
			var is_composite = $.query.get('is_composite');
			
			$('#ITEM_DISABLED').val(item_disabled).prop('disabled', true);
			$('#ITEM_HIDE').val(item_hide).prop('disabled', true);
			
			if (is_composite == undefined || is_composite.length == 0) {
				$('#IS_COMPOSITE').val('');
			} else {
				$('#IS_COMPOSITE').val(is_composite).prop('disabled', true);
			}
		}
		
		TABLE = $('#TABLE').createTable({
			className: 'com.indogo.relay.onlineshopping.ItemViewForIncomingOrder',
			showCheckBox: IS_POPUP_WINDOW,
			viewMode: true,
			afterSetTableColumnEvent: function() {
				$('#QUERY button.ok').click();
			},
			afterSetTableDataEvent: function(rows) {
				rows.find('td.barcode_id').each(function(i, e) {
					var cell = $(e);
					
					var button = $('<button type="button">barcode</button>').button({icon: 'ui-icon-bookmark', showLabel: false}).click(function() {
						var row = $(this).parent().parent();
						var item_id = row.find('td.item_id').text();
						$('#BARCODE tbody').empty();
						
						sendRequest.relay({
							data: {
								'RelayId': RELAY_ID_ITEM,
								'action': 'get_barcode',
								'item_id': item_id
							}, success: function(data) {
								if (data.length > 0) {
									var tokens = data.split(char_31);
									
									var html = '';
									for (var i = 0; i < tokens.length; i++) {
										var barcode_id = tokens[i];
										html = html + '<tr class="even"><td><button type="button" class="delete_barcode">delete barcode</button></td><td><label class="barcode_id">' + barcode_id + '</label></td></tr>';
									}
									
									$('#BARCODE tbody').append(html).find('button.delete_barcode').button({icon: 'ui-icon-trash', showLabel: false}).click(function() {
										var row = $(this).parent().parent();
										var item_id = $('#BARCODE input.item_id').val();
										var barcode_id = row.find('label.barcode_id').text();
										sendRequest.relay({
											data: {
												'RelayId': RELAY_ID_ITEM,
												'action': 'delete_barcode',
												'item_id': item_id,
												'barcode_id': barcode_id
											}, success: function(data) {
												row.remove();
											}
										});
									});
								}

								$('#BARCODE input.item_id').val(item_id);
								$('#AREA3').show();
								$('#AREA1').hide();
							}
						});
					});
					
					cell.append(button);
				});
			}
		})[0];
	}
});

function onQuery(is_using_temp_table) {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
	
	if (is_using_temp_table) {
		sessionId = GLOBAL_SID;
		pageId = 'item';
		joinSql = 'a.item_id = b.long1';
	}
	
	var item_desc = $('#QUERY input.item_desc').val();
	if (item_desc.length > 0) {
		c.push('item_desc');
		o.push('LIKE');
		v.push('%' + item_desc + '%');
	}
	
	var category_ids = [];
	$('#QUERY_ITEM_CATEGORY input:checked').each(function(i, e) {
		category_ids.push($(e).val());
	});
	if (category_ids.length > 0) {
		c.push('category_id');
		o.push('IN');
		v.push($.join(category_ids, ','));
	}
	
	var item_disabled = $('#ITEM_DISABLED').val();
	if (item_disabled.length > 0) {
		c.push('item_disabled');
		o.push('=');
		v.push(item_disabled);
	}
	
	var item_hide = $('#ITEM_HIDE').val();
	if (item_hide.length > 0) {
		c.push('item_hide');
		o.push('=');
		v.push(item_hide);
	}
	
	var is_composite = $('#IS_COMPOSITE').val();
	if (is_composite.length > 0) {
		c.push('is_composite');
		o.push('=');
		v.push(is_composite);
	}
	
	TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
};

$('#QUERY button.ok').button().click(function() {
	var item_name = $.trim($('#QUERY textarea.item_name').val());
	
	if (item_name.length > 0) {
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID_ITEM,
				'action': 'sql_temp_table',
				'item_name': item_name
			}, success: function(data) {
				var count = parseInt(data, 10);
				if (count > 0) {
					onQuery(true);
				} else {
					TABLE.funcEmptyTableBody();
				}
			}
		});
	} else {
		onQuery(false);
	}
});

if (IS_POPUP_WINDOW) {
	var button = $('<button type="button" style="margin-left: 4px;" id="BUTTON_TITLE_ADD_CHECKED_ITEM_TO_LIST">Add Checked Item to List</button>').button().click(function() {
		var rows = TABLE.funcGetTableBody();
		rows.find('input.winbond-table-cell-control-box-check:checked').each(function(i, e) {
			var row = $(e).parent().parent();
			window.opener.onItemSelected(row);
		});
	});
	$('#QUERY button.ok').parent().append(button);
}

$('#BARCODE button.close').button().click(function() {
	$('#AREA3').hide();
	$('#AREA1').show();
});

$('#BARCODE_ADD').button({icon: 'ui-icon-plus', showLabel: false}).click(function() {
	var barcode_id = prompt('Please enter barcode id', '');
	if (barcode_id != null) {
		var item_id = $('#BARCODE input.item_id').val();
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID_ITEM,
				'action': 'add_barcode',
				'barcode_id': barcode_id,
				'item_id': item_id
			}, success: function(data) {
				var button_delete = $('<button type="button" class="delete_barcode">delete barcode</button>').button({icon: 'ui-icon-trash', showLabel: false}).click(function() {
					var row = $(this).parent().parent();
					var item_id = $('#BARCODE input.item_id').val();
					var barcode_id = row.find('label.barcode_id').text();
					sendRequest.relay({
						data: {
							'RelayId': RELAY_ID_ITEM,
							'action': 'delete_barcode',
							'item_id': item_id,
							'barcode_id': barcode_id
						}, success: function(data) {
							row.remove();
						}
					});
				});
				
				var row = $('<tr class="even"><td class="btn_delete"></td><td><label class="barcode_id">' + barcode_id + '</label></td></tr>');
				
				row.find('td.btn_delete').append(button_delete);
				
				$('#BARCODE tbody').append(row);
			}
		});
	}
});

//# sourceURL=item_view_for_incoming_order.js
</script>
