﻿<div id="AREA1">
	<table id="QUERY" class="query" style="margin-bottom: 10px;">
		<tr>
			<td class="category">Shop</td>
			<td id="QUERY_SHOP"></td>
		</tr>
		<tr>
			<td class="category">Create Time</td>
			<td><input type="text" class="start_time"/> ~ <input type="text" class="end_time"/></td>
		</tr>
		<tr>
			<td class="category">Name:</td>
			<td><input type="text" class="member_name uppercase"/></td>
		</tr>
		<tr>
			<td class="category">Phone No:</td>
			<td><input type="text" class="phone_no"/></td>
		</tr>
		<tr>
			<td class="category">Sales Id</td>
			<td><textarea class="sales_id" style="width: 380px; height: 90px;"></textarea></td>
		</tr>
		<tr>
			<td class="category">Shipping Number</td>
			<td><input type="text" class="ship_no"/></td>
		</tr>
		<tr>
			<td class="category">Status</td>
			<td>
				<input type="checkbox" class="status_id" value="3" id="STATUS_ID_3" checked/><label for="STATUS_ID_3">Shipped</label>
				<input type="checkbox" class="status_id" value="4" id="STATUS_ID_4"/><label for="STATUS_ID_4">Paid</label>
			</td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="DIALOG_SCRAP_COMMENT">
	<form id="FORM_SCRAP_COMMENT">
		<input type="hidden" name="sales_id" class="sales_id"/>
		<input type="hidden" name="lm_time" class="lm_time"/>
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">Comment</td>
					<td><input type="text" class="comment" name="comment"/></td>
				</tr>
				<tr id="MONEY_RETURNED_ROW">
					<td class="category">Money to be added to member wallet</td>
					<td><input type="text" class="money_returned" name="money_returned"/></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<script type="text/javascript">
var RELAY_ID_SALES_SCRAP = 'shop.sales_returned';
var TABLE;

$('#QUERY input.start_time, #QUERY input.end_time').createDatePicker();

$('#DIALOG_SCRAP_COMMENT').dialog({
	modal: true,
	width: 600,
	autoOpen: false,
	buttons: {
		'Scrap': function() {
			$('#FORM_SCRAP_COMMENT').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID_SALES_SCRAP,
					'action': 'delete'
				}, success: function(data) {
					var tokens = data.split(char_31);
					
					var lm_time = tokens.shift();
					var lm_user = tokens.shift();
					var status_name = tokens.shift();
					var status_id = tokens.shift();
					
					var row = $('#DIALOG_SCRAP_COMMENT').data('row');
					row.find('td.action button.scrap').remove();
					row.find('td.lm_time').text(lm_time);
					row.find('td.lm_user').text(lm_user);
					row.find('td.status_name').text(status_name);
					row.find('td.status_id').text(status_id);
					row.find('td.comment').text($('#FORM_SCRAP_COMMENT input.comment').val());
					
					$('#DIALOG_SCRAP_COMMENT').dialog('close');
				}
			});
		},
		'Cancel': function() {
			$(this).dialog('close');
		}
	}
});

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID_SALES_SCRAP,
		'action': 'init'
	}, success: function(data) {
		var tokens = data.split(char_31);
		
		var shop_list_size = parseInt(tokens.shift(), 10);
		var html_query_shop = '';
		for (var i = 0; i < shop_list_size; i++) {
			var shop_id = tokens.shift();
			var shop_name = tokens.shift();
			html_query_shop = html_query_shop + '<label for="QUERY_SHOP_' + shop_id + '"><input type="checkbox" value="' + shop_id + '" id="QUERY_SHOP_' + shop_id + '"/>' + shop_name + '</label> ';
		}
		$('#QUERY_SHOP').append(html_query_shop);
		
		TABLE = $('#TABLE').createTable({
			className: 'com.indogo.relay.onlineshopping.SalesReturned',
			viewMode: true,
			maxRow: 50,
			afterSetTableColumnEvent: function() {
				$('#QUERY button.ok').click();
			},
			afterSetTableDataEvent: function(rows) {
				rows.find('td.action').each(function(i, e) {
					var cell = $(e);
					var row = cell.parent();
					
					var button_scrap = $('<button type="button" class="scrap">scrap</button>').button({icon: 'ui-icon-trash', showLabel: false}).click(function() {
						var row = $(this).parent().parent();
						var sales_id = row.find('td.sales_id').text();
						var lm_time = row.find('td.lm_time').text();
						var status_id = row.find('td.status_id').text();
						
						if (status_id == '4') {
							$('#MONEY_RETURNED_ROW').show();
						} else {
							$('#MONEY_RETURNED_ROW').hide();
						}
						
						$('#FORM_SCRAP_COMMENT input.sales_id').val(sales_id);
						$('#FORM_SCRAP_COMMENT input.lm_time').val(lm_time);
						$('#DIALOG_SCRAP_COMMENT').data('row', row);
						$('#DIALOG_SCRAP_COMMENT').dialog('open');
						
						return false;
					});
					cell.append(button_scrap);
				});
				
				rows.find('td.phone_no').each(function(i, e) {
					var ee = $(e);
					var tokens = ee.text().substring(1).split('.');
					var html = '';
					for (var i = 0; i < tokens.length; i++) {
						if (tokens[i].length > 0) {
							html += tokens[i] + '<br/>';
						}
					}
					if (html.length > 0) {
						ee.text('').append(html.substring(0, html.length - 5));
					}
				});
			}
		})[0];
	}
});

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
	
	var shop_ids = [];
	$('#QUERY_SHOP input:checked').each(function(i, e) {
		shop_ids.push($(e).val());
	});
	if (shop_ids.length == 0) {
		$('#QUERY_SHOP input').each(function(i, e) {
			shop_ids.push($(e).val());
		});
	}
	
	c.push('shop_id');
	o.push('IN');
	v.push($.join(shop_ids, ','));
	
	var status_ids = [];
	$('#QUERY input.status_id:checked').each(function(i, e) {
		status_ids.push($(e).val());
	});
	if (status_ids.length == 0) {
		status_ids.push('3');
		status_ids.push('4');
	}
	c.push('status_id');
	o.push('IN');
	v.push($.join(status_ids, ','));
	
	var start_time = $('#QUERY input.start_time').val();
	var end_time = $('#QUERY input.end_time').val();
	if (start_time.length > 0 && end_time.length > 0) {
		c.push('lm_time_created');
		o.push('BETWEEN');
		v.push(start_time + ' 00:00:00' + char_31 + end_time + ' 23:59:59');
	} else if (start_time.length > 0) {
		c.push('lm_time_created');
		o.push('>=');
		v.push(start_time + ' 00:00:00');
	} else if (end_time.length > 0) {
		c.push('lm_time_created');
		o.push('<=');
		v.push(end_time + ' 23:59:59');
	}
	
	var sales_id = $('#QUERY textarea.sales_id').val();
	if (sales_id.length > 0) {
		var lines = sales_id.split('\n');
		var ary = [];
		for (var i = 0; i < lines.length; i++) {
			lines[i] = $.trim(lines[i]);
			if (lines[i].length > 0) {
				ary.push(lines[i]);
			}
		}
		
		c.push('sales_id');
		o.push('IN');
		v.push($.join(ary, ','));
	}
	
	var ship_no = $('#QUERY input.ship_no').val();
	if (ship_no.length > 0) {
		c.push('ship_no');
		o.push('=');
		v.push(ship_no);
	}
	
	var member_name = $('#QUERY input.member_name').val();
	if (member_name.length > 0) {
		c.push('member_name');
		o.push('LIKE');
		v.push('%' + member_name + '%');
	}
	
	var phone_no = $('#QUERY input.phone_no').val();
	if (phone_no.length > 0) {
		c.push('phone_no');
		o.push('LIKE');
		v.push('%.' + phone_no + '%');
	}
	
	TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
});

//# sourceURL=sales_returned.js
</script>
