﻿<div id="AREA1">
	<form id="F">
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">VND</td>
					<td><input type="text" name="VND_KURS_VALUE" class="kurs_value" id="VND_KURS_VALUE" value=""/></td>
				</tr>
				<tr>
					<td class="category">USD</td>
					<td><input type="text" name="USD_KURS_VALUE" class="kurs_value" id="USD_KURS_VALUE" value=""/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="okOnly" type="button">Update Kurs Only</button>
						<button class="okSend" type="button">Update Kurs and Send notification</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
	
	<table id="TABLE">
	</table>
</div>

<script type="text/javascript">
var RELAY_ID = 'member.kurs_config';

$('#F').hide();

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID,
		'action': 'init'
	}, success: function(data) {
		var tokens = data.split(String.fromCharCode(31));
		var roleIdsSize = parseInt(tokens.shift(), 10);
		var roleIds = [];
		for (var i = 0; i < roleIdsSize; i++) {
			var roleId = parseInt(tokens.shift(), 10);
			roleIds.push(roleId);
		}
		
		if ($.inArray(1, roleIds) > -1 || $.inArray(2, roleIds) > -1) {
			$('#F').show();
		}
		
		createTable(roleIds);
	}
});

var TABLE;

var createTable = function(roleIds) {
	var disableExport = true;
	var isRenewKurs = false;
	if ($.inArray(1, roleIds) > -1 || $.inArray(2, roleIds) > -1 || $.inArray(5, roleIds) > -1) {
		disableExport = false;
	}
	
	TABLE = $('#TABLE').createTable({
		className: 'com.indogo.relay.member.KursConfiguration',
		viewMode: true,
		disableExport: disableExport,
		afterSetTableColumnEvent: function() {
			var c = [];
			var o = [];
			var v = [];
			var f1 = '', f2 = '';
			TABLE.searchFor(c, o, v, f1, f2);
		},
		afterSetTableDataEvent: function() {
			if (!isRenewKurs) isRenewKurs = true;
			else return;
			$('.winbond-table').find('tr:eq(1),tr:eq(2)').each(function(idx, tr){
				var $tr = $(tr);
				var kurs_type = $tr.find('td:eq(3)').text();
				if (kurs_type == 'VND') {
					$('#VND_KURS_VALUE').val($tr.find('td:eq(2)').text());
				} else if (kurs_type == 'USD') {
					$('#USD_KURS_VALUE').val($tr.find('td:eq(2)').text());
				}
			});
		}
	})[0];
}

$('#F button.okOnly').button().click(function() {
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': 'update',
			'vnd_kurs': $('#VND_KURS_VALUE').val(),
			'usd_kurs': $('#USD_KURS_VALUE').val(),
			'send': 0
		},
		success: function(data) {
			var c = [];
			var o = [];
			var v = [];
			var f1 = '', f2 = '';
			TABLE.searchFor(c, o, v, f1, f2);
		}
	});
});

$('#F button.okSend').button().click(function() {
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': 'update',
			'vnd_kurs': $('#VND_KURS_VALUE').val(),
			'usd_kurs': $('#USD_KURS_VALUE').val(),
			'send': 1
		},
		success: function(data) {
			var c = [];
			var o = [];
			var v = [];
			var f1 = '', f2 = '';
			TABLE.searchFor(c, o, v, f1, f2);
		}
	});
});

//# sourceURL=kurs_value.js

</script>
