﻿<div id="AREA1">
	<table id="QUERY" class="query">
		<tr class="hide_when_popup">
			<td class="category">Member Id</td>
			<td><input type="text" class="member_id"/></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE" style="margin-top: 10px;"></table>
</div>

<script type="text/javascript">
var IS_POPUP_WINDOW = $.query.get('menu_row_id') == '55';
var RELAY_ID_MEMBER_WALLET_HISTORY = 'member.member_wallet_history';

if (IS_POPUP_WINDOW) {
	$('.hide_when_popup').hide();
} else {
	$('.show_when_popup').hide();
}

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.member.MemberWalletHistory',
	viewMode: true,
	afterSetTableColumnEvent: function() {
		if (IS_POPUP_WINDOW) {
			var member_id = $.query.get('member_id');
			
			$('#QUERY input.member_id').val(member_id);
			$('#QUERY button.ok').click();
		}
	},
	afterSetTableDataEvent: function(rows) {
		rows.find('td.sales_id').each(function(i, e) {
			var cell = $(e);
			var sales_id = cell.text();
			if (sales_id.length > 0) {
				var btn = $('<button type="button" style="margin-left: 4px;">View Receipt</button>').button({icon: 'ui-icon-link', showLabel: false}).click(function() {
					var row = $(this).parent().parent();
					var sales_id = row.find('td.sales_id label.sales_id_value').text();
					window.open('page.html?menu_row_id=35&sales_id=' + sales_id, 'Customer Receipt', 'width=1100,height=600');
				});
				
				cell.empty().append('<label class="sales_id_value">' + sales_id + '</label>').append(btn);
			}
		});
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
	
	var member_id = $('#QUERY input.member_id').val();
	if (member_id.length > 0) {
		c.push('member_id');
		o.push('=');
		v.push(member_id);
	} else {
		return false;
	}
	
	TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
});

//# sourceURL=member_wallet_history.js
</script>
