﻿<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Phone No:</td>
			<td><input type="text" class="phone_no" /></td>
			<td class="category">ARC No:</td>
			<td><input type="text" class="arc_no uppercase" /></td>
		</tr>
		<tr>
			<td class="category">Name:</td>
			<td><input type="text" class="member_name uppercase" /></td>
			<td class="category">Birthday:</td>
			<td>
				<select class="birthday_month">
					<option value=""></option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select> / <select class="birthday_date">
					<option value=""></option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">Status:</td>
			<td>
				<input type="checkbox" class="status_id" name="status_id" id="status_id_0" value="0" checked /><label
					for="status_id_0">ACTIVE</label>
				<input type="checkbox" class="status_id" name="status_id" id="status_id_1" value="1" /><label
					for="status_id_1">INACTIVE</label>
				<input type="checkbox" class="signature_need_fix" id="STATUS_SIGNATURE_NEED_FIX" style="cursor: pointer"
					value="1" /><label for="STATUS_SIGNATURE_NEED_FIX" style="cursor: pointer">Signature Need Fix</label>
			</td>
			<td class="category">Print:</td>
			<td><select class="is_print">
					<option value=""></option>
					<option value="0">Not printed</option>
					<option value="1">Has been printed</option>
				</select></td>
		</tr>
		<tr>
			<td class="category">App Verify Time</td>
			<td colspan="3"><input type="text" class="app_verify_time_start" /> ~ <input type="text"
					class="app_verify_time_end" /></td>
		</tr>
		<tr>
			<td class="category">Identity Card</td>
			<td><input type="text" class="identity_card" /></td>
			<td class="category">Permanent Address</td>
			<td><input type="text" class="permanent_address" /></td>
		</tr>
		<tr>
			<td class="category">Passport</td>
			<td><input type="text" class="passport uppercase" /></td>
			<td class="category">Passport not set</td>
			<td><input type="checkbox" class="nullpassport" /></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
	<input type="hidden" id="ARC_NO_PHOTO_URL" />
	<input type="hidden" id="ARC_BACK_NO_PHOTO_URL" />
	<input type="hidden" id="ID_CARD_NO_PHOTO_URL" />
	<input type="hidden" id="SELF_NO_PHOTO_URL" />
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="member_id" name="member_id" />
		<input type="hidden" class="lm_time" name="lm_time" />
		<input type="hidden" class="arc_photo_basename" name="arc_photo_basename" />
		<input type="hidden" class="arc_back_photo_basename" name="arc_back_photo_basename" />
		<input type="hidden" class="signature_photo_basename" name="signature_photo_basename" />
		<input type="hidden" class="phone_no" name="phone_no" />
		<input type="hidden" class="id_card_photo_basename" name="id_card_photo_basename" />
		<input type="hidden" class="self_photo_basename" name="self_photo_basename" />
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="3">GOVN Member Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Phone No</td>
					<td>
						<input type="text" class="phone_no1" value="" />&nbsp;<span class="phone_no1 ui-button-icon ui-icon ui-icon-plus"></span>
						<br class="phone_no2" style="display:none;"/><input type="text" class="phone_no2" style="display:none;" value="" />&nbsp;<span class="phone_no2 ui-button-icon ui-icon ui-icon-plus" style="display:none;"></span>
						<br class="phone_no3" style="display:none;"/><input type="text" class="phone_no3" style="display:none;" value="" />&nbsp;<span class="phone_no3 ui-button-icon ui-icon ui-icon-minus" style="display:none;"></span>
					</td>
					<td id="member_config_recipient" rowspan="16"></td>
				</tr>
				<tr>
					<td colspan="2">
						<table style="width: 100%">
							<tbody>
								<tr>
									<td width="45%" align="center">
										<b>ARC Front Photo</b>
									</td>
									<td align="right"><span id="SELECT_ARC_PHOTO" class="ui-icon ui-icon-pencil" title="click to add picture"></span></td>
									<td width="45%" align="center">
										<b>ARC Back Photo</b>
									</td>
									<td align="right"><span id="SELECT_arc_back_photo" class="ui-icon ui-icon-pencil" title="click to add picture"></span></td>
								</tr>
								<tr>
									<td colspan="2">
										<img alt="" src="" class="arc_photo" style="width: 298px">
									</td>
									<td colspan="2">
										<img alt="" src="" class="arc_back_photo" style="width: 298px">
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td class="category">ARC No</td>
					<td><input type="text" name="arc_no" class="arc_no uppercase" value="" /></td>
				</tr>
				<tr>
					<td class="category">Name</td>
					<td><input type="text" name="member_name" class="member_name uppercase" value="" /></td>
				</tr>
				<tr>
					<td class="category">Birthday</td>
					<td><input type="text" name="birthday" class="birthday" value="" /></td>
				</tr>
				<tr>
					<td class="category">ARC Expire</td>
					<td><input type="text" name="arc_expire_date" class="arc_expire_date" value="" /></td>
				</tr>
				<tr>
					<td class="category">Sex</td>
					<td><select name="sex_id" class="sex_id"></select></td>
				</tr>
<tr>
					<td class="category">Address</td>
					<td>
						<table id="ADDRESS" class="winbond-table" style="margin-top: 4px;">
							<thead>
								<tr>
									<td align="center">縣市</td>
									<td align="center">鄉鎮市區</td>
									<td align="center">道路或街名</td>
								</tr>
							</thead>
							<tbody>
								<tr class="even">
									<td align="center"><select class="city reset"></select></td>
									<td align="center"><select class="area empty"></select></td>
									<td align="center"><select class="road empty"></select></td>
								</tr>
								<tr class="even">
									<td align="center" colspan="3">
										<input style="width: 25px" type="text" class="neighbor data reset" /> 鄰 <input style="width: 25px"
											type="text" class="lane data reset" /> 巷 <input style="width: 25px" type="text"
											class="alley data reset" /> 弄 <input style="width: 25px" type="text" class="no1 data reset" /> 號之
										<input style="width: 25px" type="text" class="no2 data reset" /> <input style="width: 25px"
											type="text" class="floor1 data reset" /> 樓之 <input style="width: 25px" type="text"
											class="floor2 data reset" /> <input style="width: 25px" type="text" class="room data reset" /> 室
									</td>
								</tr>
								<tr class="even">
									<td colspan="3">
										<button type="button" id="SET_ADDRESS">Set</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="margin-bottom: 4px; margin-top: 8px;"><input type="text" name="address" class="address"
								value="" /></div>
					</td>
				</tr>
				<tr>
					<td class="category">Signature</td>
					<td>
						<div style="margin-bottom: 5px;"><button id="SELECT_SIGNATURE_PHOTO">Select Signature Photo</button> <label
								for="FIX_ME">Mark as "Fix Me" <input type="checkbox" id="FIX_ME" /></label></div>
						<img alt="" src="" class="signature_photo" style="width: 300px;" />
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" align="center">
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="AREA3">
	<form id="FORM_RECIPIENT_LIST">
		<input type="hidden" class="member_id" name="member_id" />
		<table id="tagRecipientArea" class="maintenance" style="width: 800px">
		<thead>
			<tr id="tagRecipientTitle">
				<td colspan="3" align="center">Recipient</td>
			<tr>
		</thead>
		<tbody>
			<tr>
				<td align="left">
				    <input type="radio" name="tag" id="tagBankAcount"/>
				    <label for="tagBankAcount">
					    <b>To Bank Account</b>
					    <div style="text-align: center; display: block;">
					    	<img src="ui/資產 8DTD.png" style="width: 80px; height:82px">
					    </div>
					</label>
				</td>
				<td align="left">
				    <input type="radio" name="tag" id="tagCashPickUp"/>
				    <label for="tagCashPickUp">
					    <b>Cash Pick-up</b>
					    <div style="text-align: center; display: block;">
					    	<img src="ui/資產 7DTD.png" style="width: 80px; height:82px">
					    </div>
					</label>
				</td>
				<td align="left">
				    <input type="radio" name="tag" id="tagDeliveryToHome" checked/>
				    <label for="tagDeliveryToHome">
					    <b>Delivery To Home</b>
					    <div style="text-align: center; display: block;">
					    	<img src="ui/資產 9DTD.png" style="width: 80px; height:82px">
					    </div>
					</label>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<table id="TABLE_RECIPIENT_LIST" class="winbond-table" style="width:100%">
						<thead>
							<tr>
								<td width="10%"><button type="button" id="TABLE_RECIPIENT_LIST_BUTTON_ADD">add</button></td>
								<td width="20%">Name</td>
								<td width="5%">Id Card No.</td>
								<td width="5%">Phone No.</td>
								<td>Address</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<td align="center">
<!-- 									<button class="verify" type="button">Verify with BNI</button> -->
<!-- 									<button class="ok" type="button">Ok</button> -->
									<button class="cancel" type="button">Back</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</td>
			</tr>
		</tbody>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_ARC" title="Upload ARC Photo">
	<form id="FORM_UPLOAD_ARC">
		<input type="hidden" class="arc_photo_basename" name="arc_photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="arc_photo_upload" name="arc_photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_ARC_BACK" title="Upload ARC Back Photo">
	<form id="FORM_UPLOAD_ARC_BACK">
		<input type="hidden" class="arc_back_photo_basename" name="arc_back_photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="arc_back_photo_upload" name="arc_back_photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_SIGNATURE" title="Upload Signature Photo">
	<form id="FORM_UPLOAD_SIGNATURE">
		<input type="hidden" class="signature_photo_basename" name="signature_photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="signature_photo_upload" name="signature_photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_HISTORY" title="History">
	<table id="TABLE_HISTORY" class="winbond-table">
		<thead>
			<tr>
				<td>Timestamp</td>
				<td>User</td>
				<td>Action</td>
				<td>Description</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<div id="DIALOG_UPLOAD_ID_CARD_PHOTO" title="Upload Id Card Photo">
	<form id="FORM_UPLOAD_ID_CARD_PHOTO">
		<input type="hidden" class="id_card_photo_basename" name="id_card_photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="id_card_photo_upload" name="id_card_photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_SELF_PHOTO" title="Upload Self Photo">
	<form id="FORM_UPLOAD_SELF_PHOTO">
		<input type="hidden" class="self_photo_basename" name="self_photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="self_photo_upload" name="self_photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<style type="text/css">
	input.phone_no,
	input.phone_no1,
	input.phone_no2,
	input.phone_no3 {
		width: 150px;
	}
	
	#TABLE_RECIPIENT_LIST input.id_card_no, input.phone_no {
		width: 80px;
	}
	
	#TABLE_RECIPIENT_LIST input.recipient_name {
		width: 150px;
	}

	#TABLE tr.banned td {
		background-color: gray;
	}

	#TABLE_RECIPIENT_LIST tbody tr.verified.hidden input.recipient_name,
	#TABLE_RECIPIENT_LIST tbody tr.hidden input,
	#TABLE_RECIPIENT_LIST tbody tr.hidden textarea,
	#TABLE_RECIPIENT_LIST tbody tr.hidden span,
	#TABLE_RECIPIENT_LIST tbody tr.hidden select {
		color: lightgray;
	}

	#TABLE_RECIPIENT_LIST tbody tr.verified input.recipient_name {
		color: red;
		font-weight: bold;
	}
	
	#TABLE_RECIPIENT_LIST tbody span.address {
		width: 100%;
		word-break: break-all;
		display: block;
		word-wrap: break-word;
		white-space: pre-wrap;
		cursor: pointer;
	}

	#ADDRESS {
		border-collapse: separate;
		border-spacing: 1px;
	}

	#ADDRESS td {
		padding: 4px;
	}

	#TABLE td.print {
		text-align: center;
	}
	
	label.error {
		color: red;
		font-weight: bold;
		display: block;
	}
</style>

<script type="text/javascript">
	$(document).ready(new member().init());
	function member() {
		var valid;
		var RELAY_ID = 'member.member_config';
		var RELAY_ID_MEMBER_APP_REGISTER = 'member.member_app_register';
		var RELAY_ID_MEMBER_POINT = 'member.member_point';
		var deleteMemberRecipients = [];
		var initOption = false;
		var relationOption = '';
		var provinceOption = '';
		var districtOption = '';
		var char_31 = String.fromCharCode(31);
		var char_30 = String.fromCharCode(30);
		var htmlBankCode = '<option value="">select one...</option>';
		var BANK_NAME_TO_CODE = {};
		var BANK_CODE_TO_NAME = {};
		var BANK_NAMES = [];
		var VERIFY_LIST = [];

		$('#F').data('FORM_RECIPIENT_LIST', $('#FORM_RECIPIENT_LIST'));
		$('#AREA2, #AREA3').hide();
		$('#F .birthday, #F .arc_expire_date, #QUERY input.app_verify_time_start, #QUERY input.app_verify_time_end')
			.createDatePickerWritable();
		$('#F input.phone_no1, #F input.phone_no2, #F input.phone_no3').autoNumeric('init', {
			vMin: '0',
			vMax: '99999999999999999999999999999',
			aSep: '',
			lZero: 'keep',
			strictDigitOnly: true
		});

		$('#F input.identity_card').autoNumeric('init', {
			vMin: '0',
			vMax: '9999999999999999',
			aSep: '',
			lZero: 'keep',
			strictDigitOnly: true
		});

		$('#DIALOG_UPLOAD_ARC, #DIALOG_UPLOAD_ARC_BACK, #DIALOG_UPLOAD_SIGNATURE, #DIALOG_UPLOAD_ID_CARD_PHOTO, #DIALOG_UPLOAD_SELF_PHOTO').dialog({
			modal: true,
			width: 450,
			autoOpen: false
		});

		$('#DIALOG_HISTORY').dialog({
			modal: true,
			width: 600,
			autoOpen: false
		});

		$('#SELECT_ARC_PHOTO').click(function () {
			$('#DIALOG_UPLOAD_ARC').dialog('open');
			$('#FORM_UPLOAD_ARC input.arc_photo_upload').click();
		});

		$('#FORM_UPLOAD_ARC button.cancel').button().click(function () {
			$('#DIALOG_UPLOAD_ARC').dialog('close');
		});

		$('#FORM_UPLOAD_ARC button.ok').button().click(function () {
			$('#FORM_UPLOAD_ARC').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': 'arc_photo_upload'
				},
				success: function (data) {
					var tokens = data.split(char_31);
					var arc_photo_basename = tokens[0];
					var arc_url = tokens[1];
					$('#F input.arc_photo_basename, #FORM_UPLOAD_ARC input.arc_photo_basename').val(arc_photo_basename);
					$('#F img.arc_photo').attr('src', arc_url);
					$('#DIALOG_UPLOAD_ARC').dialog('close');
				}
			});
		});

		$('#SELECT_arc_back_photo').click(function () {
			$('#DIALOG_UPLOAD_ARC_BACK').dialog('open');
			$('#FORM_UPLOAD_ARC_BACK input.arc_back_photo_upload').click();
		});

		$('#FORM_UPLOAD_ARC_BACK button.cancel').button().click(function () {
			$('#DIALOG_UPLOAD_ARC_BACK').dialog('close');
		});

		$('#FORM_UPLOAD_ARC_BACK button.ok').button().click(function () {
			$('#FORM_UPLOAD_ARC_BACK').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': 'arc_back_photo_upload'
				},
				success: function (data) {
					var tokens = data.split(char_31);
					var arc_back_photo_basename = tokens[0];
					var arc_back_url = tokens[1];
					$('#F input.arc_back_photo_basename, #FORM_UPLOAD_ARC_BACK input.arc_back_photo_basename').val(arc_back_photo_basename);
					$('#F img.arc_back_photo').attr('src', arc_back_url);
					$('#DIALOG_UPLOAD_ARC_BACK').dialog('close');
				}
			});
		});
			
		$('#SELECT_SIGNATURE_PHOTO').button().click(function () {
			$('#DIALOG_UPLOAD_SIGNATURE').dialog('open');
			$('#FORM_UPLOAD_SIGNATURE input.signature_photo_upload').click();
		});

		$('#FORM_UPLOAD_SIGNATURE button.cancel').button().click(function () {
			$('#DIALOG_UPLOAD_SIGNATURE').dialog('close');
		});

		$('#FORM_UPLOAD_SIGNATURE button.ok').button().click(function () {
			$('#FORM_UPLOAD_SIGNATURE').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': 'signature_photo_upload'
				},
				success: function (data) {
					var tokens = data.split(char_31);
					var signature_photo_basename = tokens[0];
					var signature_url = tokens[1];
					$('#F input.signature_photo_basename, #FORM_UPLOAD_SIGNATURE input.signature_photo_basename').val(
						signature_photo_basename);
					$('#F img.signature_photo').attr('src', signature_url);
					$('#DIALOG_UPLOAD_SIGNATURE').dialog('close');
				}
			});
		});

		$('#SELECT_ID_CARD_PHOTO').button().click(function () {
			$('#DIALOG_UPLOAD_ID_CARD_PHOTO').dialog('open');
			$('#FORM_UPLOAD_ID_CARD_PHOTO input.id_card_photo_upload').click();
		});

		$('#FORM_UPLOAD_ID_CARD_PHOTO button.cancel').button().click(function () {
			$('#DIALOG_UPLOAD_ID_CARD_PHOTO').dialog('close');
		});

		$('#FORM_UPLOAD_ID_CARD_PHOTO button.ok').button().click(function () {
			$('#FORM_UPLOAD_ID_CARD_PHOTO').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': 'id_card_photo_upload'
				},
				success: function (data) {
					var tokens = data.split(char_31);
					var id_card_photo_basename = tokens[0];
					var id_card_photo_url = tokens[1];
					$('#F input.id_card_photo_basename, #FORM_UPLOAD_ID_CARD_PHOTO input.id_card_photo_basename').val(
						id_card_photo_basename);
					$('#F img.id_card_photo').attr('src', id_card_photo_url);
					$('#DIALOG_UPLOAD_ID_CARD_PHOTO').dialog('close');
				}
			});
		});

		$('#SELECT_SELF_PHOTO').button().click(function () {
			$('#DIALOG_UPLOAD_SELF_PHOTO').dialog('open');
			$('#FORM_UPLOAD_SELF_PHOTO input.self_photo_upload').click();
		});

		$('#FORM_UPLOAD_SELF_PHOTO button.cancel').button().click(function () {
			$('#DIALOG_UPLOAD_SELF_PHOTO').dialog('close');
		});

		$('#FORM_UPLOAD_SELF_PHOTO button.ok').button().click(function () {
			$('#FORM_UPLOAD_SELF_PHOTO').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': 'self_photo_upload'
				},
				success: function (data) {
					var tokens = data.split(char_31);
					var self_photo_basename = tokens[0];
					var self_photo_url = tokens[1];
					$('#F input.self_photo_basename, #FORM_UPLOAD_SELF_PHOTO input.self_photo_basename').val(
						self_photo_basename);
					$('#F img.self_photo').attr('src', self_photo_url);
					$('#DIALOG_UPLOAD_SELF_PHOTO').dialog('close');
				}
			});
		});

		function update_member_status(row, status_id) {
			var member_id = row.find('.member_id').text();
			var lm_time = row.find('.lm_time').text();
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'update_member_status',
					'member_id': member_id,
					'lm_time': lm_time,
					'status_id': status_id
				},
				success: function (data) {
					row.find('.lm_time').text(data);
					row.find('.status_id').text(status_id);

					var button = row.find('button.ban_or_release_member');
					if (status_id == '1') {
						row.addClass('banned');

						button.button('destroy');
						button.text('release this member');
						button.button({
							icon: 'ui-icon-unlocked',
							showLabel: false
						});
					} else {
						row.removeClass('banned');

						button.button('destroy');
						button.text('ban this member');
						button.button({
							icon: 'ui-icon-locked',
							showLabel: false
						});
					}
				}
			});
		};

		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'init'
			},
			success: function (data) {
				var tokens = data.split(String.fromCharCode(31));
				var city = tokens.shift();

				var arcNoPhoto = tokens.shift();
				$('#ADDRESS select.city').empty().append('<option value="" selected="selected">請選擇縣市</option>').append(city);
				$('#ARC_NO_PHOTO_URL').val(arcNoPhoto);
				
				var arcBackNoPhoto = tokens.shift();
				$('#ARC_BACK_NO_PHOTO_URL').val(arcBackNoPhoto);

				var bankCodeSize = parseInt(tokens.shift(), 10);
				for (var i = 0; i < bankCodeSize; i++) {
					var bankCode = tokens.shift();
					var bankName = tokens.shift();
					htmlBankCode = htmlBankCode + '<option value="' + bankCode + '">' + bankCode + '_' + bankName + '</option>';
					BANK_CODE_TO_NAME[bankCode] = bankName;
				}

				bankCodeSize = parseInt(tokens.shift(), 10);
				for (var i = 0; i < bankCodeSize; i++) {
					var bankCode = tokens.shift();
					var bankName = tokens.shift();
					BANK_NAME_TO_CODE[bankName] = bankCode;
					BANK_NAMES.push(bankName);
				}

				var roleIdsSize = parseInt(tokens.shift(), 10);
				var roleIds = [];
				for (var i = 0; i < roleIdsSize; i++) {
					var roleId = parseInt(tokens.shift(), 10);
					roleIds.push(roleId);
				}

				var sexSize = parseInt(tokens.shift(), 10);
				var htmlSex = '';
				for (var i = 0; i < sexSize; i++) {
					var sexId = tokens.shift();
					var sexName = tokens.shift();
					htmlSex = htmlSex + '<option value="' + sexId + '">' + sexName + '</option>';
				}
				$('#F select.sex_id').append(htmlSex);

				var nationality = tokens.shift();

				$('#F select.nationality_cname').append(nationality);

				var idCardNoPhoto = tokens.shift();
				$('#ID_CARD_NO_PHOTO_URL').val(idCardNoPhoto);

				var selfNoPhoto = tokens.shift();
				$('#SELF_NO_PHOTO_URL').val(selfNoPhoto);
				createTable(roleIds);
			}
		});

		var TABLE;
		var actions = {
			checkChangeAndSave: function(){
				if ($('#edit-table').length == 0) return true;
				if ($('#TABLE_RECIPIENT_LIST').data('changed') && !confirm('You have a recipient not be saved, ignore it?')) {
					return false;
				}
				$('#TABLE_RECIPIENT_LIST').data('changed', false);
				var $saveRow = $('#edit-table').parent().parent().prev();
				var recipient = $saveRow.data('recipient');
				$saveRow.find('span.showName').show();
				$saveRow.find('input:visible,select:visible').each(function(idx, input){
					var $input = $(input);
					var key = $input.attr('key');
					$input.hide();
					$input.val(recipient[key]);
				});
				$saveRow.find('span').each(function(idx, span){
					var $span = $(span);
					var key = $span.attr('key');
					$span.text(recipient[key]);
				});
				if (recipient.action_type == 'insert') {
					$('#edit-table').parent().parent().prev().empty().remove();
				}
				$('#edit-table').parent().parent().empty().remove();
				return true;
			},
			notSaveConfirm: function() {
				var $editTable = $('#edit-table');
				if ($editTable.length > 0){
					if (!confirm('You have a recipient not be saved, ignore it?')) {
						return false;
					}
					var $toDeleteTr = $editTable.parent().parent();
					$toDeleteTr.empty().remove();
				}
				$('#TABLE_RECIPIENT_LIST').data('changed', false);
				var $saveRow = $('#edit-table').parent().parent().prev();
				var recipient = $('#edit-table').data('recipient');
				$saveRow.find('span.showName').show();
				$saveRow.find('input:visible,select:visible').each(function(idx, input){
					var $input = $(input);
					var key = $input.attr('key');
					$input.hide();
					$input.val(recipient[key]);
				});
				$saveRow.find('span').each(function(idx, span){
					var $span = $(span);
					var key = $span.attr('key');
					$span.text(recipient[key]);
				});
				$('#edit-table').parent().parent().empty().remove();
				return true;
			},
			refreshArray: function ($this) {
				var refreshArray = [];
				var $parent = $this.parent();
				$parent.find('input:visible').each(function(idx, input){
					refreshArray.push($(input).val());
				});
				$parent.find('span, input, br').hide();
				$parent.find('input').val('');
				if (refreshArray.length < 2) {
					$parent.find('span:eq(0)').removeClass('ui-icon-minus').addClass('ui-icon-plus').show();
					$parent.find('input:eq(0)').show().val(refreshArray[0]);
				} else {
					refreshArray.forEach(function(val, idx){
						if (idx < refreshArray.length - 1 || idx == 2) {
							$parent.find('span:eq(' + idx + ')').removeClass('ui-icon-plus').addClass('ui-icon-minus').show();
						} else {
							$parent.find('span:eq(' + idx + ')').removeClass('ui-icon-minus').addClass('ui-icon-plus').show();
						}
						$parent.find('input:eq(' + idx + ')').show().val(val);
						if (idx - 1 > -1) $parent.find('br:eq(' + (idx - 1) + ')').show();
					});
				}
			},
			renderTag: function(memberId, firstRender) {
				if (firstRender) {
					$('#TABLE_RECIPIENT_LIST').hide();
				}
				$('#TABLE_RECIPIENT_LIST').data('changed', false);
				var tag = $('#tagRecipientArea tbody input[name="tag"]:checked').attr('id');
				sendRequest.relay({
					data: {
						'RelayId': RELAY_ID,
						'action': 'getRecipients',
						'member_id': memberId
					},
					success: function (data) {
						var rows = data.length == 0 ? [] : data.split(String.fromCharCode(30));
						var html = '';
						var recipients = [];
						for (i = 0; i < rows.length; i++) {
							var j = 0;
							var cells = rows[i].split(String.fromCharCode(31));
							var recipient_id = cells[j++];
							var recipient_type = cells[j++];
							var recipient_name = cells[j++];
							var id_card_no = cells[j++];
							var phone_no = cells[j++];
							var relationship = cells[j++];
							var province_id = cells[j++];
							var district_id = cells[j++];
							var address = cells[j++];
							var bank_acc = cells[j++];
							var bank_code = cells[j++];
							var bank_name = cells[j++];
							var lm_time = cells[j++];
							var is_verified = cells[j++];
							var is_hidden = cells[j++];
							var recipient_name_2 = cells[j++];
							var recipient = {
									action_type: 'update',
									recipient_id: recipient_id,
									recipient_type: recipient_type,
									recipient_name: recipient_name,
									id_card_no: id_card_no,
									phone_no: phone_no,
									relationship: relationship,
									province_id: province_id,
									district_id: district_id,
									address: address,
									bank_acc: bank_acc,
									bank_code: bank_code,
									bank_name: bank_name,
									lm_time: lm_time,
									is_verified: is_verified,
									is_hidden: is_hidden,
									recipient_name_2: recipient_name_2
							};
							recipients.push(recipient);
							// TODO tag
							switch(tag){
								case 'tagBankAcount':
									html += '<tr class="even ' + (is_verified == '1' ? 'verified' : '') + ' ' + (is_hidden == '1' ? 'hidden' : '') + '">' +
											'<td><button type="button" class="delete">delete</button> <button type="button" class="hide_or_show ' + (is_hidden == '1' ? 'show' : 'hide') + '">hide or show</button>' + 
												(is_hidden == '1' ? '' : '<button type="button" class="edit-more">edit more</button>') + 
											'</td>' +
											'<td>' + 
												'<select class="bank_code" name="bank_code" style="display:none;">' + htmlBankCode + '</select>' +
												'<span class="bank_name showName" name="bank_name">' + bank_name + '</span>' +
											'</td>' +
											'<td>' +
												'<input type="text" style="display:none;" class="bank_acc" name="bank_acc" key="bank_acc" value="' + bank_acc + '"/>' +
												'<span class="bank_acc showName" name="bank_acc">' + bank_acc + '</span>' +
											'</td>' +
											'<td>' + 
												'<input type="text" style="display:none;" class="recipient_name" name="recipient_name" key="recipient_name" value="' + recipient_name + '"/>' + 
												'<span class="recipient_name showName" name="recipient_name">' + recipient_name + '</span>' +
												'<span class="address" name="address" key="address" style="display:none;">' + address + '</span>'
											'</td></tr>';
									break;
								case 'tagCashPickUp':
									html += '<tr class="even ' + (is_verified == '1' ? 'verified' : '') + ' ' + (is_hidden == '1' ? 'hidden' : '') + '">' +
											'<td><button type="button" class="delete">delete</button> <button type="button" class="hide_or_show ' + (is_hidden == '1' ? 'show' : 'hide') + '">hide or show</button>' + 
												(is_hidden == '1' ? '' : '<button type="button" class="edit-more">edit more</button>') + 
											'</td>' +
											'<td>' + 
												'<input type="text" style="display:none;" class="recipient_name" name="recipient_name" key="recipient_name" value="' + recipient_name + '"/>' +
												'<span class="recipient_name showName" name="recipient_name">' + recipient_name + '</span>' +
											'</td>' +
											'<td>' +
												'<input type="text" style="display:none;" class="id_card_no" name="id_card_no" key="id_card_no" value="' + id_card_no + '"/>' +
												'<span class="id_card_no showName" name="id_card_no">' + id_card_no + '</span>' +
											'</td>' +
											'<td>' + 
												'<input type="text" style="display:none;" class="phone_no" name="phone_no" key="phone_no" value="' + phone_no + '"/>' + 
												'<span class="phone_no showName" name="phone_no">' + phone_no + '</span>' +
											'</td>' +
											'<td>' + 
												'<span class="address" name="address" key="address" style="display:none;">' + address + '</span>' +
												'<select class="bank_code" name="bank_code" key="bank_code" style="display:none;">' + htmlBankCode + '</select>' +
												'<span class="bank_name showName" name="bank_name"">' + bank_name + '</span>' +
											'</td></tr>';
									break;
								case 'tagDeliveryToHome':
									html += '<tr class="even ' + (is_verified == '1' ? 'verified' : '') + ' ' + (is_hidden == '1' ? 'hidden' : '') + '">' +
											'<td><button type="button" class="delete">delete</button> <button type="button" class="hide_or_show ' + (is_hidden == '1' ? 'show' : 'hide') + '">hide or show</button>' + 
												(is_hidden == '1' ? '' : '<button type="button" class="edit-more">edit more</button>') + 
											'</td>' +
											'<td>' + 
												'<input type="text" style="display:none;" class="recipient_name" name="recipient_name" key="recipient_name" value="' + recipient_name + '"/>' +
												'<span class="recipient_name showName" name="recipient_name">' + recipient_name + '</span>' +
											'</td>' +
											'<td>' +
												'<input type="text" style="display:none;" class="id_card_no" name="id_card_no" key="id_card_no" value="' + id_card_no + '"/>' +
												'<span class="id_card_no showName" name="id_card_no">' + id_card_no + '</span>' +
											'</td>' +
											'<td>' + 
												'<input type="text" style="display:none;" class="phone_no" name="phone_no" key="phone_no" value="' + phone_no + '"/>' + 
												'<span class="phone_no showName" name="phone_no">' + phone_no + '</span>' +
											'</td>' +
											'<td><span class="address" name="address" key="address">' + address + '</span></td></tr>';
									break;
							}
						}
						$('#TABLE_RECIPIENT_LIST tbody').empty();
						if (tag == 'tagBankAcount') {
							$('#TABLE_RECIPIENT_LIST thead').empty().append(
									$('<tr>')
										.append($('<td>', {width:'10%'}).append($('<button>', {id:'TABLE_RECIPIENT_LIST_BUTTON_ADD', type:'button'}).text('add').button({
											icons: {
												primary: 'ui-icon-plus'
											},
											text: false
										})))
										.append($('<td>', {width:'10%'}).text('Bank Name'))
										.append($('<td>', {width:'30%'}).text('Bank Acc.'))
										.append($('<td>').text('Name'))
							);
						} else if (tag == 'tagCashPickUp') {
							$('#TABLE_RECIPIENT_LIST thead').empty().append(
									$('<tr>')
										.append($('<td>', {width:'10%'}).append($('<button>', {id:'TABLE_RECIPIENT_LIST_BUTTON_ADD', type:'button'}).text('add').button({
											icons: {
												primary: 'ui-icon-plus'
											},
											text: false
										})))
										.append($('<td>', {width:'20%'}).text('Name'))
										.append($('<td>', {width:'5%'}).text('Id Card No.'))
										.append($('<td>', {width:'5%'}).text('Phone No.'))
										.append($('<td>').text('Bank Name'))
							);
						} else if (tag == 'tagDeliveryToHome') {
							$('#TABLE_RECIPIENT_LIST thead').empty().append(
									$('<tr>')
										.append($('<td>', {width:'10%'}).append($('<button>', {id:'TABLE_RECIPIENT_LIST_BUTTON_ADD', type:'button'}).text('add').button({
											icons: {
												primary: 'ui-icon-plus'
											},
											text: false
										})))
										.append($('<td>', {width:'20%'}).text('Name'))
										.append($('<td>', {width:'5%'}).text('Id Card No.'))
										.append($('<td>', {width:'5%'}).text('Phone No.'))
										.append($('<td>').text('Address'))
							);
						}
						funcAppendMemberRecipient(html, recipients);
						var colspan =  $('#TABLE_RECIPIENT_LIST thead tr:eq(0) td').length;
						$('#TABLE_RECIPIENT_LIST tfoot tr td:eq(0)').attr('colspan', colspan);
						
						$('#TABLE_RECIPIENT_LIST').show();
					}
				});
				
			},
			initRecipientTable: function(type) {
				$('#F').data('FORM_RECIPIENT_LIST').remove().off('*');
				if (valid) {
					valid.destroy();
					valid = null;
				}
				if (type == 'recipient') {
					$('#AREA3').append($('#F').data('FORM_RECIPIENT_LIST'));
					$('#tagRecipientTitle').show();
					$('#TABLE_RECIPIENT_LIST tfoot button').show();
					$('#FORM_RECIPIENT_LIST button.cancel').button().click(function () {
						if (!actions.notSaveConfirm()) return false;
						$('#AREA3').hide();
						$('#AREA1').show();
					});
				} else {
					$('#member_config_recipient').append($('#F').data('FORM_RECIPIENT_LIST'));
					$('#tagRecipientTitle').hide();
					$('#TABLE_RECIPIENT_LIST tfoot button').hide();
				}
				
				$('#TABLE_RECIPIENT_LIST').on('click', 'button.edit-more', function(e){
					var $editTable = $('#edit-table');
					var $row = $(this).parent().parent();
					if ($editTable.length > 0){
						var $toDeleteTr = $editTable.parent().parent();
						if($row.get(0) == $toDeleteTr.prev().get(0)) return false;
						if ($('#TABLE_RECIPIENT_LIST').data('changed') && !confirm('You have a recipient not be saved, ignore it?')) {
							return false;
						}
						$('#TABLE_RECIPIENT_LIST').data('changed', false);
						var $saveRow = $toDeleteTr.prev();
						var recipient = $saveRow.data('recipient');
						$saveRow.find('span.showName').show();
						$saveRow.find('input:visible,select:visible').each(function(idx, input){
							var $input = $(input);
							var key = $input.attr('key');
							$input.hide();
							$input.val(recipient[key]);
						});
						$saveRow.find('span').each(function(idx, span){
							var $span = $(span);
							var key = $span.attr('key');
							$span.text(recipient[key]);
						});
						$toDeleteTr.empty().remove();
						if (recipient.action_type == 'insert') $saveRow.empty().remove();
					}
					var recipient = $row.data('recipient');
					$row.find('span.showName').hide();
					$row.find('input:not(:visible)').show();
					$row.find('select:not(:visible)').show();
					$row.find('select.bank_code').val(recipient.bank_code);
					var editForm = '';
					var tag = $('#tagRecipientArea tbody input[name="tag"]:checked').attr('id');
					// TODO tag
					// 未完成:
					//	tagBankAcount的edit-more
					//  tagCashPickUp的edit-more
					switch(tag){
						case 'tagBankAcount':
							editForm += '<table id="edit-table" style="background:white; width: 100%">' +
									 	'<tr>' + 
									 		'<td><b>Id</b></td>' +
									 		'<td><input class="id_card_no" name="id_card_no" key="id_card_no" value="' + recipient.id_card_no + '"/></td>' + 
								 		'</tr>' +
									 	'<tr>' + 
									 		'<td><b>Phone No.</b></td>' +
									 		'<td><input class="phone_no" name="phone_no" key="phone_no" value="' + recipient.phone_no + '"/></td>' + 
								 		'</tr>' +
									 	'<tr>' + 
									 		'<td><b>relationship</b></td>' +
									 		'<td><select class="relationship" name="relationship" key="relationship">' + relationOption + '</select></td>' + 
								 		'</tr>' +
								 		'<tr>' + 
								 			'<td><b>province</b></td>' +
								 			'<td><select class="province" name="province_id" key="province_id">' + provinceOption + '</select></td>' + 
							 			'</tr>' +
							 			'<tr>' + 
							 				'<td><b>district</b></td>' +
							 				'<td><select class="district" name="district_id" key="district_id">' + districtOption + '</select></td>' + 
						 				'</tr>' +
							 			'<tr>' + 
							 				'<td><b>address</b></td>' +
							 				'<td><textarea class="address" name="edit-address" key="address"></textarea></td>' + 
						 				'</tr>' +
						 				'<tr>' +
						 					'<td align="center" colspan="2">' +
						 						'<button type="button" class="edit-save">save</button> ' + 
						 						'<button type="button" class="edit-cancel">cancel</button>' +
						 					'</td>' +
						 				'</tr>'
								 		'</table>';
							break;
						case 'tagCashPickUp':
							editForm += '<table id="edit-table" style="background:white; width: 100%">' +
								 		'<tr>' + 
									 		'<td><b>relationship</b></td>' +
									 		'<td><select class="relationship" name="relationship" key="relationship">' + relationOption + '</select></td>' + 
								 		'</tr>' +
								 		'<tr>' + 
								 			'<td><b>province</b></td>' +
								 			'<td><select class="province" name="province_id" key="province_id">' + provinceOption + '</select></td>' + 
							 			'</tr>' +
							 			'<tr>' + 
							 				'<td><b>district</b></td>' +
							 				'<td><select class="district" name="district_id" key="district_id">' + districtOption + '</select></td>' + 
						 				'</tr>' +
							 			'<tr>' + 
							 				'<td><b>address</b></td>' +
							 				'<td><textarea class="address" name="edit-address" key="address"></textarea></td>' + 
						 				'</tr>' +
						 				'<tr>' +
						 					'<td align="center" colspan="2">' +
						 						'<button type="button" class="edit-save">save</button> ' + 
						 						'<button type="button" class="edit-cancel">cancel</button>' +
						 					'</td>' +
						 				'</tr>'
								 		'</table>';
							break;
						case 'tagDeliveryToHome':
							editForm += '<table id="edit-table" style="background:white; width: 100%">' +
								 		'<tr>' + 
									 		'<td><b>relationship</b></td>' +
									 		'<td><select class="relationship" name="relationship" key="relationship">' + relationOption + '</select></td>' + 
								 		'</tr>' +
								 		'<tr>' + 
								 			'<td><b>province</b></td>' +
								 			'<td><select class="province" name="province_id" key="province_id">' + provinceOption + '</select></td>' + 
							 			'</tr>' +
							 			'<tr>' + 
							 				'<td><b>district</b></td>' +
							 				'<td><select class="district" name="district_id" key="district_id">' + districtOption + '</select></td>' + 
						 				'</tr>' +
							 			'<tr>' + 
							 				'<td><b>address</b></td>' +
							 				'<td><textarea class="address" name="edit-address" key="address"></textarea></td>' + 
						 				'</tr>' +
						 				'<tr>' +
						 					'<td align="center" colspan="2">' +
						 						'<button type="button" class="edit-save">save</button> ' + 
						 						'<button type="button" class="edit-cancel">cancel</button>' +
						 					'</td>' +
						 				'</tr>'
								 		'</table>';
							break;
					}
					var $editForm = $(editForm);
					$editForm.find('select.province').on('change', function(e){
						var $this = $(this);
						var province_id = $this.val();
						if (!province_id) return;
						sendRequest.relay({
							data: {
								'RelayId': RELAY_ID,
								'action': 'getDistrictOption',
								'province_id': $this.val()
							},
							success: function (data) {
								var $district = $this.data('linkSelect');
								var defaultOption = $district.find('option:first').get(0).outerHTML;
								$district.empty().html(defaultOption + data);
								if ($this.data('province_id') == province_id){
									$district.val(recipient.district_id);
									$district.trigger('change');
								} else {
									$district.val('').data('addressSpan').text($('#edit-table textarea').first().data('init', false).val());
									$this.data('province_id', province_id);
								}
							}
						});
					}).data('linkSelect', $editForm.find('select.district'));
					console.log(recipient);
					var $district = $editForm.find('select.district');
					$district.on('change', function(e){
						var $this = $(this);
						var district = $this.val();
						var $address = $this.parent().parent().next().find('textarea');
						if (!district) {
							$this.data('addressSpan').text('');
							$address.data('addressLast', '');
							return false;
						}
						var provinceName = $this.parent().parent().prev().find('select').find('option:selected').text();
						var districtName = $this.find('option:selected').text();
						var lastAddress = ', ' + districtName + ', ' + provinceName;
						if (!$address.data('init')) {
							console.log($this.data('addressSpan').text());
							console.log(lastAddress);
							$address.data('init', true);
							$address.data('addressSpan', $this.data('addressSpan'));
							$address.data('lastAddress', lastAddress);
							$address.val($this.data('addressSpan').text().replace(lastAddress, ''));
							$('#edit-table').on('change', function(e){
								$('#TABLE_RECIPIENT_LIST').data('changed', true);
							});
							e.stopPropagation();
						}
						var address = $address.val();
						$this.data('addressSpan').text(address + lastAddress);
					}).data('addressSpan', $row.find('span.address'));
					$editForm.find('textarea.address').on('keyup', function(e){
						var $this = $(this);
						var lastAddress = $this.data('lastAddress');
						$this.data('addressSpan').text($this.val() + lastAddress);
					});
					$editForm.find('select.province').data('province_id', recipient.province_id).val(recipient.province_id).trigger('change');
					$editForm.find('select.relationship').val(recipient.relationship);
					$editForm.find('button').button();
					$editForm.data('recipient', recipient);
					$('<tr style="background:white;">').append(
							$('<td>', { colspan: $row.find('td').length }).append(
									$editForm
							)
					).insertAfter($row);
				});
				
				$('#TABLE_RECIPIENT_LIST').on('click', 'button.edit-save', function(e){
					$('label.error').remove();
					if (!valid) {
						valid = $('#FORM_RECIPIENT_LIST').validate({
							focusInvalid: false
						});
					}
					$('#TABLE_RECIPIENT_LIST input.phone_no, input.id_card_no').each(function(idx, it){
						var $this = $(it);
						$this.attr('name', $this.attr('key') + '-' + idx)
						$this.rules('remove');
						$this.rules('add', {required:true});
					});
					$('#edit-table').find('select,input,textarea').each(function(idx, it){
						var $this = $(it);
						$this.attr('name', $this.attr('key') + '-' + idx)
						$this.rules('remove');
						$this.rules('add', {required:true});
					});
					if (valid.form()) {// TODO
						var $this = $(this);
						var $editTable = $this.parent().parent().parent().parent();
						var recipient = $.extend(true, {}, $editTable.data('recipient'));
						console.log($editTable.data('recipient'));
						var $row = $this.parent().parent().parent().parent().parent().parent().prev();
						console.log($row);
						$row.find('input, span, select').each(function(idx, it){
							var $this = $(it);
							var key = $this.attr('key');
							recipient[key] = it.tagName.toLowerCase() == 'span' ? $this.text() : $this.val();
						});
						$editTable.find('input, select').each(function(idx, it){
							var $this = $(it);
							var key = $this.attr('key');
							recipient[key] = $this.val();
						});
						//TODO tag
						var recipient_types = recipient.recipient_type ? recipient.recipient_type.split(',') : [];
						var update_recipient_type;
						var tag = $('#tagRecipientArea tbody input[name="tag"]:checked').attr('id');
						if (tag == 'tagBankAcount') {
							update_recipient_type = '1';
						} else if (tag == 'tagCashPickUp') {
							update_recipient_type = '2';
						} else if (tag == 'tagDeliveryToHome') {
							update_recipient_type = '3';
						}
						if (update_recipient_type && !recipient_types.includes(update_recipient_type)) {
							recipient_types.push(update_recipient_type);
							recipient.recipient_type = recipient_types.sort().toString();
						}
						console.log(recipient);
						var data = {
								'RelayId': RELAY_ID,
								'action': recipient.action_type + 'Recipient',
								'member_id': $('#FORM_RECIPIENT_LIST input.member_id').val()
							};
						Object.keys(recipient).forEach(function(it){
							data[it] = recipient[it];
						});
						sendRequest.relay({
							data: data,
							success: function (data) {
								actions.renderTag($('#FORM_RECIPIENT_LIST input.member_id').val());
							}
						});
					}
				});
				
				$('#TABLE_RECIPIENT_LIST').on('change', 'tr.even', function(e){
					$('#TABLE_RECIPIENT_LIST').data('changed', true);
				});
				
				$('#TABLE_RECIPIENT_LIST').on('click', 'button.edit-cancel', function(e){
					actions.checkChangeAndSave();
					//TODO function
					/*if ($('#TABLE_RECIPIENT_LIST').data('changed') && !confirm('You have a recipient not be saved, ignore it?')) {
						return false;
					}
					$('#TABLE_RECIPIENT_LIST').data('changed', false);
					var $saveRow = $('#edit-table').parent().parent().prev();
					var recipient = $('#edit-table').data('recipient');
					$saveRow.find('span.showName').show();
					$saveRow.find('input:visible').each(function(idx, input){
						var $input = $(input);
						var key = $input.attr('key');
						$input.hide();
						$input.val(recipient[key]);
					});
					$saveRow.find('span').each(function(idx, span){
						var $span = $(span);
						var key = $span.attr('key');
						$span.text(recipient[key]);
					});
					$('#edit-table').parent().parent().remove();*/
				});
				
				$('#TABLE_RECIPIENT_LIST_BUTTON_ADD').button({
					icons: {
						primary: 'ui-icon-plus'
					},
					text: false
				});
				
				$('#TABLE_RECIPIENT_LIST').on('click', '#TABLE_RECIPIENT_LIST_BUTTON_ADD', function(e){
					if (!actions.checkChangeAndSave()) return false;
					var html = '<tr class="even">' + 
								'<td>' +
									'<button type="button" class="delete">delete</button>' +
									'<button type="button" class="edit-more">edit more</button>' + 
								'</td>' +
								'{0}' +
								'</tr>\n';
					var tag = $('#tagRecipientArea tbody input[name="tag"]:checked').attr('id');
					var emptyContent = '';
					//TODO tag
					switch(tag){
						case 'tagBankAcount':
							emptyContent += '<td><select class="bank_code" name="bank_code" key="bank_code">' + htmlBankCode + '</select></td>' +
									 		'<td><input class="id_card_no" name="id_card_no key="id_card_no" value=""/></td>' +
									 		'<td><input class="recipient_name" name="recipient_name" key="recipient_name" val=""/></td>';
							break;
						case 'tagCashPickUp':
							emptyContent += '<td><input class="recipient_name" name="recipient_name" key="recipient_name" valie=""/></td>' +
									 		'<td><input class="id_card_no" name="id_card_no" key="id_card_no" value=""/></td>' +
									 		'<td><input class="phone_no" name="phone_no" key="phone_no" value=""/></td>' +
									 		'<td><select class="bank_code" name="bank_code" key="bank_code">' + htmlBankCode + '</select></td>';
							break;
						case 'tagDeliveryToHome':
							emptyContent += '<td><input class="recipient_name" name="recipient_name" key="recipient_name" value=""/></td>' +
									 		'<td><input class="id_card_no" name="id_card_no" key="id_card_no" value=""/></td>' +
									 		'<td><input class="phone_no" name="phone_no" key="phone_no" value=""/></td>' +
									 		'<td><span class="address" name="address" key="address" style="width:150px;word-break:break-all;display:block;word-wrap:break-word;white-space:pre-wrap;cursor: pointer;"></span></td>';
							break;
					}
					// TODO
					html = html.replace('{0}', emptyContent);
					funcAppendMemberRecipient(html);
				});
			}
		};

		var createTable = function (roleIds) {
			var disableInsert = true;
			var disableUpdate = true;
			var disableDelete = true;
			var disableExport = true;
			var disableBanOrReleaseMember = true;

			if ($.inArray(1, roleIds) > -1 || $.inArray(2, roleIds) > -1) {
				disableInsert = false;
				disableUpdate = false;
				disableDelete = false;
				disableExport = false;
				disableBanOrReleaseMember = false;
			} else if ($.inArray(3, roleIds) > -1) {
				disableInsert = false;
				disableUpdate = false;
				disableExport = false;
				disableBanOrReleaseMember = false;
			} else if ($.inArray(4, roleIds) > -1 || $.inArray(7, roleIds) > -1 || $.inArray(8, roleIds) > -1) {
				disableInsert = false;
				disableUpdate = false;
				disableBanOrReleaseMember = false;
			}

			TABLE = $('#TABLE').createTable({
				className: 'com.indogo.relay.member.MemberConfiguration',
				disableInsert: disableInsert,
				disableUpdate: disableUpdate,
				disableDelete: disableDelete,
				disableExport: disableExport,
				afterSetTableColumnEvent: function () {
					var button_export_bank_format = $(
						'<button type="button" style="margin-left: 4px;">Export Bank Format</button>').button().click(
						function () {
							var q = TABLE.funcGetFilter();
							sendRequest.relay({
								data: {
									'RelayId': RELAY_ID,
									'action': 'export_bank_format',
									'Sort': q.Sort,
									'Filter': q.Filter,
									'FilterSql': q.FilterSql,
									'FilterSqlValues': q.FilterSqlValues,
									'SessionId': q.SessionId,
									'PageId': q.PageId,
									'JoinSql': q.JoinSql
								},
								success: function (data) {
									var tokens = data.split(char_31);
									var filename = tokens.shift();
									var timestamp = tokens.shift();
									TABLE.funcGetTableBody().find(
										'td.winbond-table-cell-control-box input.winbond-table-cell-control-box-check:checked'
									).each(function (i, e) {
										var row = $(e).parent().parent();
										var export_time = row.find('td.export_time').text();
										if (export_time.length == 0) {
											row.find('td.export_time').text(timestamp);
										}
									});
									sendRequest.downloadFile(filename, 'N');
								}
							});
						});

					$('#TABLE button.export-to-excel').parent().append(button_export_bank_format);
					$('.member_name').val('SITI NURKASANAH@@');//TODO delete after test

					$('#AREA2').on('click', '.ui-icon-plus', function(e){
						var $this = $(this);
						$this.removeClass('ui-icon-plus').addClass('ui-icon-minus');
						var nextClass = $this.next().attr('class');
						if (nextClass.indexOf('3') > -1) {
							$this.parent().find('.' + nextClass).filter('span').removeClass('ui-icon-plus').addClass('ui-icon-minus');
						} else {
							$this.parent().find('.' + nextClass).filter('span').removeClass('ui-icon-minus').addClass('ui-icon-plus').show();
						}
						$('.' + nextClass).show();
						actions.refreshArray($this);
					});
					$('#AREA2').on('click', '.ui-icon-minus', function(e){
						var $this = $(this);
						$('#AREA2 .' + $this.prev().attr('class')).hide();
						actions.refreshArray($this);
					});
					$('#QUERY button.ok').click();
				},
				afterSetTableDataEvent: function (rows) {
					if (!initOption) {
						initOption = true;
						sendRequest.relay({
							data: {
								'RelayId': RELAY_ID,
								'action': 'getRelationOption'
							},
							success: function (data) {
								relationOption += '<option value="">select one...</option>' + data;
							}
						});
						sendRequest.relay({
							data: {
								'RelayId': RELAY_ID,
								'action': 'getProvinceOption'
							},
							success: function (data) {
								provinceOption += '<option value="">select one...</option>' + data;
							}
						});
						districtOption = '<option value="">select one...</option>';
					}
					rows.find('button.recipient_button').button({
						icons: {
							primary: 'ui-icon-person'
						},
						text: false
					}).click(function () {
						var row = $(this).parent().parent();
						var memberId = row.find('.member_id').text();
						
						actions.initRecipientTable('recipient');
						
						$('#tagRecipientArea tbody input[name="tag"]').off('click').on('click', function(e){
							if (!actions.checkChangeAndSave()) return false;
							actions.renderTag(memberId);
						})
						actions.renderTag(memberId, true);
						
						$('#FORM_RECIPIENT_LIST input.member_id').val(memberId);
						$('#AREA1').hide();
						$('#AREA3').show();
					});

					rows.find('td.phone_no').each(function (i, e) {
						var ee = $(e);
						var tokens = ee.text().substring(1).split('.');
						var html = '';
						for (var i = 0; i < tokens.length; i++) {
							if (tokens[i].length > 0) {
								html += tokens[i] + '<br/>';
							}
						}
						if (html.length > 0)
							ee.text('').append(html.substring(0, html.length - 5));
					});

					rows.find('td.action').each(function (i, e) {
						var cell = $(this);
						var row = cell.parent();
						var status_id = row.find('td.status_id').text();

						var iconName, buttonText;
						if (status_id == '1') {
							iconName = 'ui-icon-unlocked';
							buttonText = 'release this member';
							row.addClass('banned');
						} else {
							iconName = 'ui-icon-locked';
							buttonText = 'ban this member';
						}

						var btnBanOrRelease = $('<button type="button" class="ban_or_release_member">' + buttonText +
							'</button>').button({
							icon: iconName,
							showLabel: false
						}).click(function () {
							var row = $(this).parent().parent();
							var old_status_id = row.find('td.status_id').text();
							var status_id;
							if (old_status_id == '0')
								status_id = '1';
							else
								status_id = '0';
							update_member_status(row, status_id);
						});

						var btnHistory = $('<button type="button" style="margin-left: 4px;">View History</button>')
							.button({
								icon: 'ui-icon-script',
								showLabel: false
							}).click(function () {
								var cell = $(this);
								var row = cell.parent().parent();
								var member_id = row.find('td.member_id').text();

								sendRequest.relay({
									data: {
										'RelayId': RELAY_ID_MEMBER_POINT,
										'action': 'get_histories',
										'member_id': member_id
									},
									success: function (data) {
										var tokens = data.split(char_31);
										var size = parseInt(tokens.shift(), 10);
										var html = '';
										for (var i = 0; i < size; i++) {
											var lm_time = tokens.shift();
											var lm_user = tokens.shift();
											var hst_name = tokens.shift();
											var hst_desc = tokens.shift();

											html += '<tr class="even">';
											html += '<td>' + lm_time + '</td>';
											html += '<td>' + lm_user + '</td>';
											html += '<td>' + hst_name + '</td>';
											html += '<td>' + hst_desc + '</td>';
											html += '</tr>\n';
										}
										$('#TABLE_HISTORY tbody').empty().append(html);
										$('#DIALOG_HISTORY').dialog('open');
									}
								});
							});

						if (disableBanOrReleaseMember) {
							btnBanOrRelease.button('disable');
						}

						cell.append(btnBanOrRelease).append(btnHistory);
					});

					rows.find('td.is_print').each(function (i, e) {
						var cell = $(e);
						var is_print = cell.text();
						if (is_print == "1") {
							cell.parent().find('td.print').html('&#10003;');
						}
					});

					rows.find('td.wallet').each(function (i, e) {
						var cell = $(e);
						var wallet = cell.text();

						var btn = $('<button type="button" style="margin-left: 4px;">view history</button>').button({
							icon: 'ui-icon-script',
							showLabel: false
						}).click(function () {
							var row = $(this).parent().parent();
							var member_id = row.find('td.member_id').text();
							window.open('page.html?menu_row_id=55&member_id=' + member_id, 'wallet_history',
								'width=1024,height=768');
						});

						cell.empty().append('<label class="wallet_value">' + wallet + '</label>').append(btn);
					});
				},
				executeInsert: function (callback) {
					$('#F').clearForm().resetForm();
					$('#ADDRESS .area, #ADDRESS .road').empty();
					$('#F .arc_photo').attr('src', $('#ARC_NO_PHOTO_URL').val());
					$('#F .arc_back_photo').attr('src', $('#ARC_BACK_NO_PHOTO_URL').val());
					$('#F select.sex_id').val('2');
					$('#F button.ok').data('action', 'insert');
					$('#F button.ok').data('callback', callback);
					$('#AREA1').hide();
					$('#AREA2').show();
					$('#F select.nationality_cname').val('印尼');
					$('#FIX_ME').checkboxradio('disable');
					$('#F .id_card_photo').attr('src', $('#ID_CARD_NO_PHOTO_URL').val());
					$('#F .self_photo').attr('src', $('#SELF_NO_PHOTO_URL').val());
					
					$('#F input.phone_no1').autoNumeric('set', '');
					$('#F input.phone_no2').autoNumeric('set', '');
					$('#F input.phone_no3').autoNumeric('set', '');
					$('#tagRecipientArea').parent().parent().hide();
				},
				executeUpdate: function (row, callback) {
					var member_id = row.filter('.member_id').text();

					sendRequest.relay({
						data: {
							'RelayId': RELAY_ID,
							'action': 'getDataForUpdate',
							'member_id': member_id
						},
						success: function (data) {
							var o = data.split(char_31);
							var member_name = o.shift();
							var member_login_id = o.shift();
							var phone_no = o.shift();
							var arc_no = o.shift();
							var arc_expire_date = o.shift();
							var address = o.shift();
							var birthday = o.shift();
							var identity_card = o.shift();
							var passport = o.shift();
							var nationality_cname = o.shift();
							var permanent_address = o.shift();
							var lm_time = o.shift();
							var arc_photo_basename = o.shift();
							var arc_back_photo_basename = o.shift();
							var signature_photo_basename = o.shift();
							var email = o.shift();
							var arc_photo_url = o.shift();
							var arc_back_photo_url = o.shift();
							var signature_photo_url = o.shift();
							var signature_need_fix = o.shift() == '1';
							var sex_id = o.shift();
							var id_card_photo_basename = o.shift();
							var self_photo_basename = o.shift();
							var id_card_photo_url = o.shift();
							var self_photo_url = o.shift();
							$('#F').clearForm().resetForm();
							$('#F .member_id').val(member_id);
							$('#F .member_name').val(member_name);
							$('#F .member_login_id').val(member_login_id);
							$('#F .phone_no').val(phone_no);
							$('#F .arc_no').val(arc_no);
							$('#F .arc_expire_date').datepicker('setDate', arc_expire_date);
							$('#F .address').val(address);
							$('#F .birthday').datepicker('setDate', birthday);
							$('#F .lm_time').val(lm_time);
							$('#F .arc_photo_basename').val(arc_photo_basename);
							$('#F .arc_back_photo_basename').val(arc_back_photo_basename);
							$('#F .signature_photo_basename').val(signature_photo_basename);
							$('#F .email').val(email);
							$('#F .arc_photo').attr('src', arc_photo_url);
							$('#F .arc_back_photo').attr('src', arc_back_photo_url);
							$('#F .signature_photo').attr('src', signature_photo_url);
							$('#FIX_ME').prop('checked', signature_need_fix);
							$('#F select.sex_id').val(sex_id);
							$('#F .identity_card').val(identity_card);
							$('#F .passport').val(passport);
							$('#F .nationality_cname').val(nationality_cname);
							$('#F .permanent_address').val(permanent_address);
							$('#F .id_card_photo_basename').val(id_card_photo_basename);
							$('#F .self_photo_basename').val(self_photo_basename);
							$('#F .id_card_photo').attr('src', id_card_photo_url);
							$('#F .self_photo').attr('src', self_photo_url);
							
							var phone_tokens = phone_no.split('.');
							for (var i = phone_tokens.length; i < 4; i++) {
								phone_tokens.push('');
							}

							$('#F input.phone_no1').autoNumeric('set', phone_tokens[1]);
							$('#F input.phone_no2').autoNumeric('set', phone_tokens[2]);
							$('#F input.phone_no3').autoNumeric('set', phone_tokens[3]);
							$('#AREA2 input[class^="phone_no"]').each(function(idx, input){
								$this = $(input);
								if ($this.val()) {
									$this.show();
								} else {
									$this.hide();
								}
							});

							$('#ADDRESS .area, #ADDRESS .road').empty();
							$('#F button.ok').data('action', 'update');
							$('#F button.ok').data('callback', callback);
							$('#AREA1').hide();
							$('#AREA2').show();
							actions.refreshArray($('#AREA2 input.phone_no1'));
							
							actions.initRecipientTable('member');
							
							$('#tagRecipientArea tbody input[name="tag"]').off('click').on('click', function(e){
								if (!actions.checkChangeAndSave()) return false;
								actions.renderTag(member_id);
							})
							actions.renderTag(member_id, true);
							$('#tagRecipientArea').parent().parent().show();
							
							$('#FORM_RECIPIENT_LIST input.member_id').val(member_id);

							$('#FIX_ME').checkboxradio('enable');
						}
					});
				},
				executeDelete: function (row, callback) {
					var member_id = row.filter('.member_id').text();
					var member_name = row.filter('.member_name').text();
					var lm_time = row.filter('.lm_time').text();

					if (confirm('are you sure to delete ' + member_name + '?')) {
						sendRequest.relay({
							data: {
								'RelayId': RELAY_ID,
								'action': 'delete',
								'member_id': member_id,
								'lm_time': lm_time
							},
							success: function (data) {
								callback(data);
							}
						});
					}
				}
			})[0];
		};

		$('#QUERY button.ok').button().click(function () {
			var c = [];
			var o = [];
			var v = [];
			var f1 = '',
				f2 = '';

			var member_name = $('#QUERY .member_name').val();
			if (member_name.length > 0) {
				c.push('member_name');
				o.push('LIKE');
				v.push('%' + member_name + '%');
			}

			var phone_no = $('#QUERY input.phone_no').val();
			if (phone_no.length > 0) {
				c.push('phone_no');
				o.push('LIKE');
				v.push('%.' + phone_no + '%');
			}

			var arc_no = $('#QUERY input.arc_no').val();
			if (arc_no.length > 0) {
				c.push('arc_no');
				o.push('LIKE');
				v.push(arc_no + '%');
			}

			var birthday_month = $('#QUERY select.birthday_month').val();
			var birthday_date = $('#QUERY select.birthday_date').val();
			if (birthday_month.length > 0 && birthday_date.length > 0) {
				f1 = '(month(birthday) = ? and day(birthday) = ?)';
				f2 = birthday_month + char_31 + birthday_date;
			} else if (birthday_month.length > 0) {
				f1 = 'month(birthday) = ?';
				f2 = birthday_month;
			} else if (birthday_date.length > 0) {
				f1 = 'day(birthday) = ?';
				f2 = birthday_date;
			}

			var status_ids = [];
			$('#QUERY input.status_id:checked').each(function (i, e) {
				status_ids.push($(e).val());
			});

			if (status_ids.length > 0) {
				c.push('status_id');
				o.push('IN');
				v.push(status_ids.join(','));
			}

			var signature_need_fix = $('#STATUS_SIGNATURE_NEED_FIX').prop('checked');
			if (signature_need_fix) {
				c.push('signature_need_fix');
				o.push('=');
				v.push('1');
			}

			var is_print = $('#QUERY select.is_print').val();
			if (is_print.length > 0) {
				c.push('is_print');
				o.push('=');
				v.push(is_print);
			}

			var app_verify_time_start = $('#QUERY input.app_verify_time_start').val();
			var app_verify_time_end = $('#QUERY input.app_verify_time_end').val();
			if (app_verify_time_start.length > 0 && app_verify_time_end.length > 0) {
				c.push('app_verify_time');
				o.push('BETWEEN');
				v.push(app_verify_time_start + ' 00:00:00' + char_31 + app_verify_time_end + ' 23:59:59');
			} else if (app_verify_time_start.length > 0) {
				c.push('app_verify_time');
				o.push('>=');
				v.push(app_verify_time_start + ' 00:00:00');
			} else if (app_verify_time_end.length > 0) {
				c.push('app_verify_time');
				o.push('<=');
				v.push(app_verify_time_end + ' 23:59:59');
			}

			var identity_card = $('#QUERY input.identity_card').val();
			if (identity_card.length > 0) {
				c.push('identity_card');
				o.push('LIKE');
				v.push('%' + identity_card + '%');
			}

			var permanent_address = $('#QUERY input.permanent_address').val();
			if (permanent_address.length > 0) {
				c.push('permanent_address');
				o.push('LIKE');
				v.push('%' + permanent_address + '%');
			}

			var nullpassport = $('#QUERY input.nullpassport').is(':checked');
			var passport = $('#QUERY input.passport').val();
			if (nullpassport) {
				f1 += f1.length ? ' AND passport IS NULL' : 'passport IS NULL';
			} else if (passport.length > 0) {
				c.push('passport');
				o.push('LIKE');
				v.push('%' + passport + '%');
			}

			TABLE.searchFor(c, o, v, f1, f2);
		});

		$('#F button.cancel').button().click(function () {
			if (!actions.notSaveConfirm()) return false;
			$('#AREA2').hide();
			$('#AREA1').show();
		});

		$('#F button.ok').button().click(function () {
			var action = $(this).data('action');
			var phone_no1 = $('#F input.phone_no1').autoNumeric('get');
			var phone_no2 = $('#F input.phone_no2').autoNumeric('get');
			var phone_no3 = $('#F input.phone_no3').autoNumeric('get');
			var phone_no = '.' + phone_no1 + '.' + phone_no2 + '.' + phone_no3;
			$('#F input.phone_no').val(phone_no);
			console.log(action);

			$('#F').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID,
					'action': action
				},
				success: function (data) {
					var callback = $('#F button.ok').data('callback');
					var v = callback(data);
					$('#AREA2').hide();
					$('#AREA1').show();

					if (action == 'insert') {
						v.find('button.recipient_button').click();
					}
				}
			});
		});

		funcAreaChange = function () {
			var v = $('#ADDRESS select.city option:selected').val();
			if (v.length == 0)
				return;

			var tokens = v.split(String.fromCharCode(30));
			var city = tokens[0];

			v = $('#ADDRESS select.area option:selected').val();
			if (v.length == 0)
				return;

			tokens = v.split(String.fromCharCode(31));
			var area = tokens[0];

			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'getAddressRoad',
					'city': city,
					'area': area
				},
				success: function (data) {
					$('#ADDRESS select.road').empty().append(data);
				}
			});
		};

		funcClearAddress = function () {
			$('#ADDRESS .reset').val('');
			$('#ADDRESS .empty').empty();
		};

		$('#ADDRESS select.city').change(function () {
			var v = $(this).val();
			if (v.length == 0)
				return;

			var tokens = v.split(String.fromCharCode(30));
			var city = tokens[0];

			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'getAddressArea',
					'city': city
				},
				success: function (data) {
					$('#ADDRESS select.area').empty().append(data);
					funcAreaChange();
				}
			});
		});

		$('#ADDRESS select.area').change(funcAreaChange);
		$('#ADDRESS input.data').createNumericTextInput();
		$('#SET_ADDRESS').button().click(function () {
			var v = $('#ADDRESS select.city option:selected').val();
			if (v.length == 0)
				return;
			var tokens = v.split(String.fromCharCode(30));
			var city_cname = tokens[0];
			var city_ename = tokens[1];

			v = $('#ADDRESS select.area option:selected').val();
			if (v.length == 0)
				return;
			tokens = v.split(String.fromCharCode(31));
			var area_cname = tokens[0];
			var area_ename = tokens[1];

			v = $('#ADDRESS select.road option:selected').val();
			if (v.length == 0)
				return;
			tokens = v.split(String.fromCharCode(31));
			var road_cname = tokens[0];
			var road_ename = tokens[1];
			var zipcode = tokens[2];

			var neighbor = $('#ADDRESS input.neighbor').val();
			var lane = $('#ADDRESS input.lane').val();
			var alley = $('#ADDRESS input.alley').val();
			var no1 = $('#ADDRESS input.no1').val();
			var no2 = $('#ADDRESS input.no2').val();
			var floor1 = $('#ADDRESS input.floor1').val();
			var floor2 = $('#ADDRESS input.floor2').val();
			var room = $('#ADDRESS input.room').val();

			var chinese = city_cname + area_cname + road_cname;
			var english = road_ename + ', ' + area_ename + ', ' + city_ename + ' ' + zipcode + ', Taiwan (R.O.C.)';

			if (neighbor.length > 0) {
				chinese += neighbor + '鄰';
				english = 'Neighbor ' + neighbor + ', ' + english;
			}

			if (lane.length > 0) {
				chinese += lane + '巷';
				english = 'Ln. ' + lane + ', ' + english;
			}

			if (alley.length > 0) {
				chinese += alley + '弄';
				english = 'Aly. ' + alley + ', ' + english;
			}

			if (no1.length > 0 && no2.length > 0) {
				chinese += no1 + '號之' + no2;
				english = 'No. ' + no1 + '-' + no2 + ', ' + english;
			} else if (no1.length > 0) {
				chinese += no1 + '號';
				english = 'No. ' + no1 + ', ' + english;
			}

			if (floor1.length > 0 && floor2.length > 0) {
				chinese += floor1 + '樓之' + floor2;
				english = floor1 + 'F.-' + floor2 + ', ' + english;
			} else if (floor1.length > 0) {
				chinese += floor1 + '樓';
				english = floor1 + 'F., ' + english;
			}

			if (room.length > 0) {
				chinese += room + '室';
				english = 'Rm. ' + room + ', ' + english;
			}

			$('#F .address').val(chinese);
		});

		function doVerify() {
			var t = VERIFY_LIST.shift();
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'resolve_recipient_name',
					'bank_code': t.bank_code,
					'bank_acc': t.bank_acc
				},
				success: function (recipient_name) {
					$('#TABLE_RECIPIENT_LIST tbody tr').each(function (i, e) {
						var row = $(e);
						var action_type = row.find('input.action_type').val();
						var is_verified = row.find('input.is_verified').val();
						if (is_verified == '0' && (action_type == 'update' || action_type == 'insert')) {
							var bank_code = row.find('select.bank_code option:selected').text();
							var bank_acc = row.find('input.bank_acc').autoNumeric('get');
							if (bank_code == t.bank_code && bank_acc == t.bank_acc) {
								row.find('input.recipient_name').val(recipient_name);
								row.find('input.old_recipient_name').val(recipient_name);
								row.find('input.is_verified').val('1');
							}
						}
					});
					setTimeout(doVerify, 1);
				},
				error: function (XMLHttpRequest, textStatus, errorThrown, code, errmsg, errstack) {
					$('#TABLE_RECIPIENT_LIST tbody tr').each(function (i, e) {
						var row = $(e);
						var action_type = row.find('input.action_type').val();
						var is_verified = row.find('input.is_verified').val();
						if (is_verified == '0' && (action_type == 'update' || action_type == 'insert')) {
							var bank_code = row.find('select.bank_code option:selected').text();
							var bank_acc = row.find('input.bank_acc').autoNumeric('get');
							if (bank_code == t.bank_code && bank_acc == t.bank_acc) {
								row.addClass('verify_error');
								row.find('input.recipient_name').val('');
								row.find('input.is_verified').val('0');
							}
						}
					});
					setTimeout(doVerify, 1);
				}
			});
		}

		function doSubmit() {
			var rows = [];
			$('#TABLE_RECIPIENT_LIST tbody tr').each(function (i, e) {
				var row = $(e);
				var action_type = row.find('input.action_type').val();
				var recipient_id = row.find('input.recipient_id').val();
				var recipient_name = row.find('input.recipient_name').val();
				var bank_acc = row.find('input.bank_acc').autoNumeric('get');
				var bank_code = row.find('select.bank_code option:selected').text();
				if (bank_code == 'select one...')
					bank_code = '';
				var lm_time = row.find('input.lm_time').val();
				var is_hidden = row.find('input.is_hidden').val();
				var is_verified = row.find('input.is_verified').val();
				var recipient_name_2 = row.find('input.recipient_name_2').val();
				rows.push(action_type + char_31 +
					recipient_id + char_31 +
					recipient_name + char_31 +
					bank_acc + char_31 +
					bank_code + char_31 +
					lm_time + char_31 +
					is_hidden + char_31 +
					is_verified + char_31 +
					recipient_name_2);
			});

			var rowsString = '';
			if (rows.length > 0) {
				rowsString = rows.join(char_30);
				if (deleteMemberRecipients.length > 0)
					rowsString = rowsString + char_30 + deleteMemberRecipients.join(char_30);
			} else {
				if (deleteMemberRecipients.length > 0) {
					rowsString = deleteMemberRecipients.join(char_30);
				}
			}

			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'updateRecipients',
					'member_id': $('#FORM_RECIPIENT_LIST input.member_id').val(),
					'rows': rowsString
				},
				success: function (data) {
					$('#AREA3').hide();
					$('#AREA1').show();
				}
			});
		}

		$('#FORM_RECIPIENT_LIST button.verify').button().click(function () {
			VERIFY_LIST.length = 0;
			$('#TABLE_RECIPIENT_LIST tbody tr').each(function (i, e) {
				var row = $(e);
				var action_type = row.find('input.action_type').val();
				var is_verified = row.find('input.is_verified').val();
				if (is_verified == '0' && (action_type == 'update' || action_type == 'insert')) {
					row.removeClass('verify_error');
					var bank_code = row.find('select.bank_code option:selected').text();
					var bank_acc = row.find('input.bank_acc').autoNumeric('get');
					VERIFY_LIST.push({
						'bank_code': bank_code,
						'bank_acc': bank_acc
					});
				}
			});

			if (VERIFY_LIST.length > 0) {
				doVerify();
			}
		});
		
		//TODO remove
		$('#FORM_RECIPIENT_LIST button.ok').button().click(function () {
			/*$('#TABLE_RECIPIENT_LIST tbody tr').each(function (i, e) {
				var row = $(e);
				var action_type = row.find('input.action_type').val();
				if (action_type == 'update') {
					var bank_code = row.find('select.bank_code option:selected').text();
					var bank_acc = row.find('input.bank_acc').autoNumeric('get');
					var old_bank_code = row.find('input.old_bank_code').val();
					var old_bank_acc = row.find('input.old_bank_acc').val();
					if (old_bank_code != bank_code || old_bank_acc != bank_acc) {
						row.find('input.is_verified').val('0');
					}
				}

				if (action_type == 'update' || action_type == 'insert') {
					var is_verified = row.find('input.is_verified').val();
					if (is_verified == '1') {
						var old_recipient_name = row.find('input.old_recipient_name').val();
						var recipient_name = row.find('input.recipient_name').val();
						if (recipient_name != old_recipient_name && !recipient_name.startsWith(old_recipient_name)) {
							row.find('input.is_verified').val('0');
						}
					}
				}
			});*/

			doSubmit();
		});

		funcAppendMemberRecipient = function (html, recipients) {
			var jq = $(html);

			jq.appendTo('#TABLE_RECIPIENT_LIST tbody');
			jq.find('button.edit-more').button({
				icons: {
					primary: 'ui-icon-wrench'
				},
				text: false
			});
			
			if (recipients) {
				jq.each(function(idx, tr){
					$(tr).data('recipient', recipients[idx]);
				});
			} else {
				jq.data('recipient', {action_type: 'insert'});
				jq.find('button.edit-more').trigger('click');
			}
			
			jq.find(' button.delete').button({
				icons: {
					primary: 'ui-icon-minus'
				},
				text: false
			}).click(function () {
				if (!actions.checkChangeAndSave()) return false;
				// TODO delete
				var $row = $(this).parent().parent();
				var recipient = $row.data('recipient');
				if (recipient && recipient.recipient_id) {
					sendRequest.relay({
						data: {
							'RelayId': RELAY_ID,
							'action': 'deleteRecipient',
							'member_id': $('#FORM_RECIPIENT_LIST input.member_id').val(),
							'recipient_id': recipient.recipient_id
						},
						success: function (data) {
							$row.empty().remove();
							$('#edit-table').find('button.edit-cancel').trigger('click');
						}
					});
				} else {
					$row.empty().remove();
					$('#edit-table').find('button.edit-cancel').trigger('click');
				}
			});

			jq.find('button.hide_or_show').each(function () {
				var btn = $(this);
				var row = btn.parent().parent();
				var text = '';
				var icon = '';
				if (row.hasClass('hidden')) {
					text = 'show it';
					icon = 'ui-icon-locked';
				} else {
					text = 'hide it';
					icon = 'ui-icon-unlocked';
				}

				btn.button({
					icon: icon,
					showLabel: false,
					label: text
				}).click(function () {
					var recipient = $.extend(true, {}, $(this).parent().parent().data('recipient'));
					var is_hidden = recipient.is_hidden;
					recipient.is_hidden = is_hidden == '0' ? '1' : '0';
					// TODO ajax
					var data = {
						'RelayId': RELAY_ID,
						'action': 'updateRecipient',
						'member_id': $('#FORM_RECIPIENT_LIST input.member_id').val()
					};
					Object.keys(recipient).forEach(function(it){
						data[it] = recipient[it];
					});
					sendRequest.relay({
						data: data,
						success: function (data) {
							actions.renderTag($('#FORM_RECIPIENT_LIST input.member_id').val());
						}
					});
				});
			});

			var htmlBankCode = $('#FORM_RECIPIENT_LIST').data('htmlBankCode');

			jq.find('select.bank_code').append(htmlBankCode).change(function () {
				var e = $(this);
				var bankCode = e.children('option:selected').text();
				if (bankCode == 'select one...')
					bankCode = '';
				e.parent().parent().find('input.bank_name').val(BANK_CODE_TO_NAME[bankCode]);
			});

			jq.find('input.bank_name').keydown(function (e) {
				if (e.which == 13) {
					$(this).data('ui-autocomplete')._trigger('change');
				}
			}).autocomplete({
				source: BANK_NAMES,
				change: function (event, ui) {
					var elem = $(this);
					var elemBankCode = elem.parent().parent().find('select.bank_code');

					if (ui.item == null) {
						var bank_name = elem.val().toUpperCase();
						var bank_code = BANK_NAME_TO_CODE[bank_name];
						if (bank_code) {
							elemBankCode.val(bank_code);
							elem.val(bank_name);
						} else {
							for (var i = 0; i < BANK_NAMES.length; i++) {
								if (BANK_NAMES[i].indexOf(bank_name) > -1) {
									bank_name = BANK_NAMES[i];
									bank_code = BANK_NAME_TO_CODE[bank_name];
									break;
								}
							}

							if (bank_code) {
								elemBankCode.val(bank_code);
								elem.val(bank_name);
							} else {
								elemBankCode.val('');
								elem.val('').attr('title', bank_name + " didn't match any item").tooltip('open');
							}
						}
					} else {
						var bank_code = BANK_NAME_TO_CODE[ui.item.value];
						elemBankCode.val(bank_code);
					}
				},
				select: function (event, ui) {
					var elem = $(this);
					var elemBankCode = elem.parent().parent().find('select.bank_code');

					var bank_code = BANK_NAME_TO_CODE[ui.item.value];
					elemBankCode.val(bank_code);
				}
			}).tooltip({
				classes: {
					"ui-tooltip": "ui-state-highlight"
				}
			});

			/*jq.find('select.bank_code').each(function (i, e) {
				var ee = $(e);
				var bank_code = ee.attr('default_value');
				ee.find('option').each(function (i2, e2) {
					var ee2 = $(e2);
					if (ee2.text() == bank_code) {
						ee2.prop('selected', true);
						return false;
					}
				});
			}).change();*/

			jq.find('input.bank_acc').autoNumeric('init', {
				vMin: '0',
				vMax: '99999999999999999999999999999',
				aSep: '',
				lZero: 'keep',
				strictDigitOnly: true
			});
		};

		$('#FIX_ME').checkboxradio().change(function () {
			var signature_need_fix = $(this).prop('checked');
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID_MEMBER_APP_REGISTER,
					'action': 'mark_as_fixme',
					'member_id': $('#F input.member_id').val(),
					'signature_need_fix': signature_need_fix ? '1' : '0'
				},
				success: function (data) {
					if (signature_need_fix) {
						$('#USE_CURRENT_IMAGE_SIGNATURE').click();
					}
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					$('#FIX_ME').prop('checked', !signature_need_fix);
				}
			});
		});	
		return {
			init: function(){
				
			}
		};
	}

	//# sourceURL=member.js
</script>
