﻿<div id="AREA1">
	<table id="QUERY" class="query" style="margin-bottom: 10px;">
		<tr class="hide_when_popup">
			<td class="category">Member Id</td>
			<td><input type="text" class="member_id"/></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok hide_when_popup">Search</button><button type="button" class="select_it show_when_popup">Select</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="member_id" name="member_id"/>
		<input type="hidden" class="address_id" name="address_id"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Member Address</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Type</td>
					<td>
						<select name="type_id" class="type_id">
							<option value="1">HOME</option>
							<option value="2">7-11</option>
							<option value="3">Family Mart</option>
							<option value="4">OK Mart</option>
							<option value="5">HiLife</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Address</td>
					<td>
						<table id="ADDRESS" class="winbond-table" style="margin-top: 4px;">
							<thead>
								<tr>
									<td align="center">縣市</td>
									<td align="center">鄉鎮市區</td>
									<td align="center">道路或街名</td>
								</tr>
							</thead>
							<tbody>
								<tr class="even">
									<td align="center"><select class="city reset"></select></td>
									<td align="center"><select class="area empty"></select></td>
									<td align="center"><select class="road empty"></select></td>
								</tr>
								<tr class="even">
									<td align="center" colspan="3">
										<input style="width: 25px" type="text" class="neighbor data reset"/> 鄰 <input style="width: 25px" type="text" class="lane data reset"/> 巷 <input style="width: 25px" type="text" class="alley data reset"/> 弄 <input style="width: 25px" type="text" class="no1 data reset"/> 號之 <input style="width: 25px" type="text" class="no2 data reset"/> <input style="width: 25px" type="text" class="floor1 data reset"/> 樓之 <input style="width: 25px" type="text" class="floor2 data reset"/> <input style="width: 25px" type="text" class="room data reset"/> 室
									</td>
								</tr>
								<tr class="even">
									<td colspan="3">
										<button type="button" id="SET_ADDRESS">Set</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div style="margin-bottom: 4px; margin-top: 8px;"><input type="text" name="address_value" class="address" value=""/></div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<script type="text/javascript">
var IS_POPUP_WINDOW = $.query.get('menu_row_id') == '50';
var RELAY_ID_MEMBER_ADDRESS = 'member.member_address';
var RELAY_ID_MEMBER_CONFIG = 'member.member_config';
var TABLE;

if (IS_POPUP_WINDOW) {
	var member_id = $.query.get('member_id');
	$('#QUERY input.member_id').val(member_id);
	$('#QUERY .hide_when_popup').hide();
} else {
	$('#QUERY .show_when_popup').hide();
}

$('#AREA2').hide();

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID_MEMBER_ADDRESS,
		'action': 'init'
	},
	success: function(data) {
		var city = data;
		$('#ADDRESS select.city').empty().append('<option value="" selected="selected">請選擇縣市</option>').append(city);
		
		TABLE = $('#TABLE').createTable({
			className: 'com.indogo.relay.member.MemberAddress',
			showCheckBox: IS_POPUP_WINDOW,
			singleSelectMode: IS_POPUP_WINDOW,
			singleSelectModeDblClick: function() {
				$('#QUERY button.select_it').click();
			},
			afterSetTableColumnEvent: function() {
				$('#QUERY button.ok').click();
			},
			executeInsert: function(callback) {
				var member_id = $('#F input.member_id').val();
				if (member_id.length > 0) {
					$('#F').clearForm().resetForm();
					$('#F select.type_id').val('1');
					$('#F input.member_id').val(member_id);
					$('#F button.ok').data('action', 'insert');
					$('#F button.ok').data('callback', callback);
					$('#AREA1').hide();
					$('#AREA2').show();
				}
			},
			executeUpdate: function(row, callback) {
				var member_id = $('#F input.member_id').val();
				if (member_id.length > 0) {
					var address_id = row.filter('td.address_id').text();
					var type_id = row.filter('td.type_id').text();
					var address_value = row.filter('td.address_value').text();
					
					$('#F').clearForm().resetForm();
					$('#F input.member_id').val(member_id);
					$('#F input.address_id').val(address_id);
					$('#F select.type_id').val(type_id);
					$('#F input.address').val(address_value);
					$('#F button.ok').data('action', 'update');
					$('#F button.ok').data('callback', callback);
					$('#AREA1').hide();
					$('#AREA2').show();
				}
			},
			executeDelete: function(row, callback) {
				var member_id = $('#F input.member_id').val();
				var address_id = row.find('td.address_id').text();
				var address_value = row.find('td.address_value').text();
				
				if (confirm('are you sure to delete ' + address_value + '?')) {
					sendRequest.relay({
						data: {
							'RelayId': RELAY_ID_MEMBER_ADDRESS,
							'action': 'delete',
							'member_id': member_id,
							'address_id': address_id
						},
						success: function(data) {
							callback(data);
						}
					});
				}
			}
		})[0];
	}
});

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
	
	var member_id = $('#QUERY input.member_id').val();
	
	if (member_id.length > 0) {
		c.push('member_id');
		o.push('=');
		v.push(member_id);
		
		$('#F input.member_id').val(member_id);
		
		TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
	} else {
		$('#F input.member_id').val('');
		TABLE.funcEmptyTableBody();
	}
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID_MEMBER_ADDRESS,
			'action': action
		},
		success: function(data) {
			var callback = $('#F button.ok').data('callback');
			var v = callback(data);
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});

$('#QUERY button.select_it').button().click(function() {
	var rows = TABLE.funcGetCheckedRows();
	if (rows.length > 0) {
		for (var i = 0; i < rows.length; i++) {
			window.opener.onAddressSelected(rows[i]);
		}
		window.close();
	}
});

// below here is for the address panel

funcAreaChange = function() {
	var v = $('#ADDRESS select.city option:selected').val();
	if (v.length == 0)
		return;
	
	var tokens = v.split(String.fromCharCode(30));
	var city = tokens[0];
	
	v = $('#ADDRESS select.area option:selected').val();
	if (v.length == 0)
		return;
	
	tokens = v.split(String.fromCharCode(31));
	var area = tokens[0];
	
	sendRequest.relay({
		data:
		{
			'RelayId': RELAY_ID_MEMBER_CONFIG,
			'action': 'getAddressRoad',
			'city': city,
			'area': area
		},
		success: function(data) {
			$('#ADDRESS select.road').empty().append(data);
		}
	});
};

funcClearAddress = function() {
	$('#ADDRESS .reset').val('');
	$('#ADDRESS .empty').empty();
};

$('#ADDRESS select.city').change(function() {
	var v = $(this).val();
	if (v.length == 0)
		return;
	
	var tokens = v.split(String.fromCharCode(30));
	var city = tokens[0];
	
	sendRequest.relay({
		data: {
			'RelayId': RELAY_ID_MEMBER_CONFIG,
			'action': 'getAddressArea',
			'city': city
		},
		success: function(data) {
			$('#ADDRESS select.area').empty().append(data);
			funcAreaChange();
		}
	});
});

$('#ADDRESS select.area').change(funcAreaChange);
$('#ADDRESS input.data').createNumericTextInput();
$('#SET_ADDRESS').button().click(function() {
	var v = $('#ADDRESS select.city option:selected').val();
	if (v.length == 0)
		return;
	var tokens = v.split(String.fromCharCode(30));
	var city_cname = tokens[0];
	var city_ename = tokens[1];
	
	v = $('#ADDRESS select.area option:selected').val();
	if (v.length == 0)
		return;
	tokens = v.split(String.fromCharCode(31));
	var area_cname = tokens[0];
	var area_ename = tokens[1];
	
	v = $('#ADDRESS select.road option:selected').val();
	if (v.length == 0)
		return;
	tokens = v.split(String.fromCharCode(31));
	var road_cname = tokens[0];
	var road_ename = tokens[1];
	var zipcode = tokens[2];
	
	var neighbor = $('#ADDRESS input.neighbor').val();
	var lane = $('#ADDRESS input.lane').val();
	var alley = $('#ADDRESS input.alley').val();
	var no1 = $('#ADDRESS input.no1').val();
	var no2 = $('#ADDRESS input.no2').val();
	var floor1 = $('#ADDRESS input.floor1').val();
	var floor2 = $('#ADDRESS input.floor2').val();
	var room = $('#ADDRESS input.room').val();

	var chinese = city_cname + area_cname + road_cname;
	var english = road_ename + ', ' + area_ename + ', ' + city_ename + ' ' + zipcode + ', Taiwan (R.O.C.)';
	
	if (neighbor.length > 0) {
		chinese += neighbor + '鄰';
		english = 'Neighbor ' + neighbor + ', ' + english;
	}
	
	if (lane.length > 0) {
		chinese += lane + '巷';
		english = 'Ln. ' + lane + ', ' + english;
	}
	
	if (alley.length > 0) {
		chinese += alley + '弄';
		english = 'Aly. ' + alley + ', ' + english;
	}
	
	if (no1.length > 0 && no2.length > 0) {
		chinese += no1 + '號之' + no2;
		english = 'No. ' + no1 + '-' + no2 + ', ' + english;
	}
	else if (no1.length > 0) {
		chinese += no1 + '號';
		english = 'No. ' + no1 + ', ' + english;
	}
	
	if (floor1.length > 0 && floor2.length > 0) {
		chinese += floor1 + '樓之' + floor2;
		english = floor1 + 'F.-' + floor2 + ', ' + english;
	}
	else if (floor1.length > 0) {
		chinese += floor1 + '樓';
		english = floor1 + 'F., ' + english;
	}
	
	if (room.length > 0) {
		chinese += room + '室';
		english = 'Rm. ' + room + ', ' + english;
	}
	
	$('#F input.address').val(chinese);
	onShipAddressChanged();
});

//# sourceURL=member_address.js
</script>
