﻿<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Status</td>
			<td><select class="transfer_status_id"><option value="2" selected="selected">paid</option><option value="3">process</option></select></td>
		</tr>
		<tr>
			<td class="category">Payment Info</td>
			<td><textarea class="payment_info" style="width: 380px; height: 90px;"></textarea></td>
		</tr>
		<tr>
			<td class="category">Others</td>
			<td>
				<input type="checkbox" id="IS_APP_1" value="1" name="is_app" class="is_app" style="cursor: pointer"/><label for="IS_APP_1" style="cursor: pointer">From APP</label>
				<input type="checkbox" id="IS_APP_0" value="0" name="is_app" class="is_app" style="cursor: pointer"/><label for="IS_APP_0" style="cursor: pointer">From Console</label>
				<input type="checkbox" id="QUERY_BRI" value="1" style="cursor: pointer"/><label for="QUERY_BRI" style="cursor: pointer">Only BRI</label>
			</td>
		</tr>
		<tr>
			<td class="category">Paid Date</td>
			<td><input type="text" class="start_date"/> <select class="start_hour"></select>:<select class="start_min"></select>:<select class="start_sec"></select> to <input type="text" class="end_date"/> <select class="end_hour"></select>:<select class="end_min"></select>:<select class="end_sec"></select></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="DIALOG_IMPORT_BRI">
	<form id="FORM_IMPORT_BRI">
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">Upload File</td>
					<td><input type="file" name="import_bri"/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="AREA2">
	<form id="FORM_IMPORT_BRI_CONFIRM">
		<input type="hidden" name="uuid" class="uuid"/>
		<table class="winbond-table">
			<thead>
				<tr>
					<td>REFERENCE NUMBER</td>
					<td>COUNTERPART</td>
					<td>STATUS DESC</td>
					<td>DATE</td>
					<td>CREDIT ACCOUNT</td>
					<td>AMOUNT</td>
					<td>ERROR_TEXT</td>
					<td>ERROR_CODE</td>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Confirm</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPDATE_RECIPIENT" title="Update Recipient">
	<form id="FORM_UPDATE_RECIPIENT">
		<input type="hidden" name="txn_id" class="txn_id"/>
		<input type="hidden" name="lm_time" class="lm_time"/>
		<input type="hidden" name="member_id" class="member_id"/>
		<input type="hidden" name="recipient_id" class="recipient_id"/>
		<input type="hidden" name="recipient_lm_time" class="recipient_lm_time"/>
		<input type="hidden" name="is_verified" class="is_verified"/>
		<input type="hidden" class="old_recipient_name"/>
		<input type="hidden" class="old_bank_code"/>
		<input type="hidden" class="old_bank_acc"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Update Recipient</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Recipient Name</td>
					<td><input type="text" class="recipient_name uppercase" name="recipient_name"/> <button type="button" id="BROWSE_RECIPIENT">browse</button></td>
				</tr>
				<tr>
					<td class="category">Account No</td>
					<td><input type="text" class="bank_acc"/></td>
				</tr>
				<tr>
					<td class="category">Bank Code</td>
					<td><select class="bank_code" name="bank_code"></select></td>
				</tr>
				<tr>
					<td class="category">Bank Name</td>
					<td><input class="bank_name update_recipient" style="width: 400px;"/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Update</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_VERIFY_RECIPIENT" title="Recipient Name Verification">
	<table class="maintenance" id="TABLE_VERIFY_RECIPIENT">
		<tbody>
			<tr>
				<td class="category">Current Name</td>
				<td><input type="text" class="recipient_name" readonly="readonly" style="background-color: white"/></td>
			</tr>
			<tr>
				<td class="category">Registered Name</td>
				<td><input type="text" class="bni_recipient_name" readonly="readonly" style="background-color: white"/></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="category">
					<input type="hidden" class="member_id"/>
					<input type="hidden" class="recipient_id"/>
				</td>
				<td><button type="button" class="ok">Update</button> <button type="button" class="cancel">Cancel</button></td>
			</tr>
		</tfoot>
	</table>
</div>

<div id="DIALOG_SMS" title="Send SMS">
	<form id="FORM_SMS">
		<input type="hidden" class="member_id" name="member_id"/>
		<table class="maintenance">
			<tr>
				<td class="category">Message</td>
				<td><textarea class="sms_message" name="sms_message" style="width: 500px; height: 200px;"></textarea></td>
			</tr>
		</table>
	</form>
</div>

<style type="text/css">
#TABLE td.recipient_name label.verified {
	color: red;
	font-weight: bold;
}
#FORM_IMPORT_BRI_CONFIRM table tr td.number {
	text-align: right;
}
#FORM_IMPORT_BRI_CONFIRM table tr.error td {
	background-color: red;
	color: white;
}
</style>

<script type="text/javascript">
var RELAY_ID_MONEY_TRANSFER_BRI = 'member.money_transfer_bri';
var RELAY_ID_MEMBER = 'member.member_config';
var RELAY_ID_MONEY_TRANSFER = 'member.money_transfer';
var RELAY_ID_MEMBER_APP_REGISTER = 'member.member_app_register';
var char_30 = String.fromCharCode(30);
var char_31 = String.fromCharCode(31);
var BANK_NAME_TO_CODE = {};
var BANK_CODE_TO_NAME = {};
var BANK_NAMES = [];
var MSG_FOOTNOTE = '';

$('#AREA2, #AREA3, #DIALOG_UPDATE_RECIPIENT').hide();
$('#FORM_UPDATE_RECIPIENT input.bank_acc').autoNumeric('init', {vMin: '0', vMax: '99999999999999999999999999999', aSep: '', lZero: 'keep', strictDigitOnly: true});
$('#QUERY input.start_date, #QUERY input.end_date').createDatePickerWritable();

var html = '';
for (var i = 0; i <= 23; i++) {
	html = html + '<option value="' + i + '">' + i + '</option>';
}
$('#QUERY select.start_hour, #QUERY select.end_hour').append(html);
$('#QUERY select.start_hour').val('0');
$('#QUERY select.end_hour').val('23');

html = '';
for (var i = 0; i <= 59; i++) {
	html = html + '<option value="' + i + '">' + i + '</option>';
}
$('#QUERY select.start_min, #QUERY select.start_sec, #QUERY select.end_min, #QUERY select.end_sec').append(html);
$('#QUERY select.start_min, #QUERY select.start_sec').val('0');
$('#QUERY select.end_min, #QUERY select.end_sec').val('59');

$('#DIALOG_VERIFY_RECIPIENT').dialog({
	modal: true,
	width: 600,
	autoOpen: false
});

$('#DIALOG_IMPORT_BRI').dialog({
	modal: true,
	width: 400,
	autoOpen: false
});

$('#DIALOG_SMS').dialog({
	modal: true,
	width: 650,
	autoOpen: false,
	buttons: {
		'Ok': function() {
			$('#FORM_SMS').formSubmit({
				data: {
					'F': 'Relay',
					'RelayId': RELAY_ID_MEMBER_APP_REGISTER,
					'action': 'send_sms'
				},
				success: function(data) {
					$('#DIALOG_SMS').dialog('close');
				}
			});
		},
		'Cancel': function() {
			$(this).dialog('close');
		}
	}
});

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.member.MoneyTransferBRI',
	viewMode: true,
	disablePaging: true,
	showCheckBox: true,
	afterSetTableColumnEvent: function() {
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID_MONEY_TRANSFER_BRI,
				'action': 'init'
			},
			success: function(data) {
				var tokens = data.split(String.fromCharCode(31));
				
				var bankCodeListSize = parseInt(tokens.shift(), 10);
				var htmlBankCode = '<option value=""></option>';
				for (var i = 0; i < bankCodeListSize; i++) {
					var bankCode = tokens.shift();
					var bankName = tokens.shift();
					htmlBankCode = htmlBankCode + '<option value="' + bankCode + '">' + bankCode  + '</option>';
					BANK_CODE_TO_NAME[bankCode] = bankName;
				}
				
				bankCodeListSize = parseInt(tokens.shift(), 10);
				for (var i = 0; i < bankCodeListSize; i++) {
					var bankCode = tokens.shift();
					var bankName = tokens.shift();
					BANK_NAME_TO_CODE[bankName] = bankCode;
					BANK_NAMES.push(bankName);
				}
				
				MSG_FOOTNOTE = tokens.shift();
				
				$('#FORM_UPDATE_RECIPIENT select.bank_code').append(htmlBankCode).change(function() {
					var bankCode = $(this).children('option:selected').text();
					$('#FORM_UPDATE_RECIPIENT input.bank_name').val(BANK_CODE_TO_NAME[bankCode]);
				});
				
				$('#FORM_UPDATE_RECIPIENT input.bank_name').keydown(function(e) {
					if (e.which == 13) {
						$(this).data('ui-autocomplete')._trigger('change');
					}
				}).autocomplete({
					source: BANK_NAMES,
					change: function(event, ui) {
						var elem = $(this);
						var elemBankCode = $('#FORM_UPDATE_RECIPIENT select.bank_code');
						
						if (ui.item == null) {
							var bank_name = elem.val().toUpperCase();
							var bank_code = BANK_NAME_TO_CODE[bank_name];
							if (bank_code) {
								elemBankCode.val(bank_code);
								elem.val(bank_name);
							} else {
								for (var i = 0; i < BANK_NAMES.length; i++) {
									if (BANK_NAMES[i].indexOf(bank_name) > -1) {
										bank_name = BANK_NAMES[i];
										bank_code = BANK_NAME_TO_CODE[bank_name];
										break;
									}
								}
								
								if (bank_code) {
									elemBankCode.val(bank_code);
									elem.val(bank_name);
								} else {
									elemBankCode.val('');
									elem.val('');
								}
							}
						} else {
							var bank_code = BANK_NAME_TO_CODE[ui.item.value];
							elemBankCode.val(bank_code);
						}
					},
					select: function(event, ui) {
						var elem = $(this);
						var elemBankCode = $('#FORM_UPDATE_RECIPIENT select.bank_code');
						var bank_code = BANK_NAME_TO_CODE[ui.item.value];
						elemBankCode.val(bank_code);
					}
				})
				
				var export_bri = $('<button id="BUTTON_EXPORT_BRI" style="margin-left: 5px; margin-right: 5px;">Export BRI</button>').button().click(function() {
					var tableBody = TABLE.funcGetTableBody();
					var txn_ids = [];
					tableBody.find('input.winbond-table-cell-control-box-check:checked').each(function(i, e) {
						var row = $(e).parent().parent();
						var txn_id = row.find('td.txn_id').text();
						txn_ids.push(txn_id);
					});
					sendRequest.relay({
						data: {
							'RelayId': RELAY_ID_MONEY_TRANSFER_BRI,
							'action': 'print',
							'txn_ids': txn_ids.join(char_31)
						}, success: function(data) {
							sendRequest.downloadFile(data);
							$('#BUTTON_REFRESH').click();
						}
					});
				});
				
				var import_bri = $('<button id="BUTTON_IMPORT_BRI" style="margin-right: 5px;">Import BRI</button>').button().click(function() {
					$('#FORM_IMPORT_BRI').clearForm().resetForm().data('action', 'import_bri');
					$('#DIALOG_IMPORT_BRI').dialog('open');
				});
				
				var import_bri_2 = $('<button id="BUTTON_IMPORT_BRI_2" style="margin-right: 5px;">Import BRI (New)</button>').button().click(function() {
					$('#FORM_IMPORT_BRI').clearForm().resetForm().data('action', 'import_bri_rev_2');
					$('#DIALOG_IMPORT_BRI').dialog('open');
				});
				
				$('#TABLE button.export-to-excel').parent().append(export_bri).append(import_bri).append(import_bri_2);
				
				$('#QUERY button.ok').click();
			}
		});
	},
	afterSetTableDataEvent: function(rows) {
		rows.find('td.phone_no').each(function(i, e) {
			var cell = $(e);
			var phone_no = cell.text();
			cell.empty().append(nl2br(phone_no));
		});
		
		rows.find('td.recipient_name').each(function(i, e) {
			var cell = $(e);
			var row = cell.parent();
			var recipient_name = cell.text();
			var is_verified = row.find('td.is_verified').text();
			
			var button_edit = $('<button type="button">edit recipient</button>').button({icon: 'ui-icon-pencil', showLabel: false}).click(function() {
				var row = $(this).parent().parent();
				var txn_id = row.find('td.txn_id').text();
				var lm_time = row.find('td.lm_time').text();
				var member_id = row.find('td.member_id').text();
				var recipient_id = row.find('td.recipient_id').text();
				sendRequest.relay({
					data: {
						'RelayId': RELAY_ID_MEMBER,
						'action': 'getRecipient',
						'member_id': member_id,
						'recipient_id': recipient_id
					}, success: function(data) {
						var tokens = data.split(char_31);
						var member_id = tokens.shift();
						var recipient_id = tokens.shift();
						var recipient_name = tokens.shift();
						var bank_code = tokens.shift();
						var bank_name = tokens.shift();
						var bank_acc = tokens.shift();
						var recipient_lm_time = tokens.shift();
						var recipient_lm_user = tokens.shift();
						var is_verified = tokens.shift();
						$('#FORM_UPDATE_RECIPIENT input.txn_id').val(txn_id);
						$('#FORM_UPDATE_RECIPIENT input.lm_time').val(lm_time);
						$('#FORM_UPDATE_RECIPIENT input.member_id').val(member_id);
						$('#FORM_UPDATE_RECIPIENT input.recipient_id').val(recipient_id);
						$('#FORM_UPDATE_RECIPIENT input.recipient_name, #FORM_UPDATE_RECIPIENT input.old_recipient_name').val(recipient_name);
						$('#FORM_UPDATE_RECIPIENT select.bank_code, #FORM_UPDATE_RECIPIENT input.old_bank_code').val(bank_code);
						$('#FORM_UPDATE_RECIPIENT input.bank_name').val(bank_name);
						$('#FORM_UPDATE_RECIPIENT input.bank_acc, #FORM_UPDATE_RECIPIENT input.old_bank_acc').val(bank_acc);
						$('#FORM_UPDATE_RECIPIENT input.recipient_lm_time').val(recipient_lm_time);
						$('#FORM_UPDATE_RECIPIENT input.is_verified').val(is_verified);
						$('#DIALOG_UPDATE_RECIPIENT').show();
						$('#AREA1').hide();
					}
				});
			});
			
			var button_lock = $('<button type="button" class="lock_recipient" style="margin-left: 4px;">lock recipient</button>').button({icon: 'ui-icon-locked', showLabel: false}).click(function() {
				var thisButton = $(this);
				var row = thisButton.parent().parent();
				var member_id = row.find('td.member_id').text();
				var recipient_id = row.find('td.recipient_id').text();
				sendRequest.relay({
					data: {
						'RelayId': RELAY_ID_MEMBER,
						'action': 'verify_recipient',
						'member_id': member_id,
						'recipient_id': recipient_id
					}, success: function(data) {
						var tokens = data.split(char_31);
						var status = tokens.shift();
						if (status == "0") {
							var recipient_name = tokens.shift();
							var bni_recipient_name = tokens.shift();
							$('#TABLE_VERIFY_RECIPIENT input.member_id').val(member_id);
							$('#TABLE_VERIFY_RECIPIENT input.recipient_id').val(recipient_id);
							$('#TABLE_VERIFY_RECIPIENT input.recipient_name').val(recipient_name);
							$('#TABLE_VERIFY_RECIPIENT input.bni_recipient_name').val(bni_recipient_name);
							$('#DIALOG_VERIFY_RECIPIENT').dialog('open');
						} else if (status == "1") {
							var recipient_name = tokens.shift();
							TABLE.funcGetTableBody().find('tr').each(function(i2, e2) {
								var row = $(e2);
								var this_member_id = row.find('td.member_id').text();
								var this_recipient_id = row.find('td.recipient_id').text();
								if (this_member_id == member_id && this_recipient_id == recipient_id) {
									row.find('button.lock_recipient').button({disabled: true});
									row.find('td.recipient_name label').addClass('verified').text(recipient_name);
								}
							});
						}
					}
				});
			});
			
			var label_recipient_name = $('<label style="margin-left: 4px;">' + recipient_name + '<label>');
			if (is_verified == '1') {
				label_recipient_name.addClass('verified');
				button_lock.button({disabled: true});
			} else {
				label_recipient_name.removeClass('verified');
				button_lock.button({disabled: false});
			}
			
			cell.empty().append(button_edit).append(button_lock).append(label_recipient_name);
		});
		
		rows.find('td.app_phone_no').each(function(i, e) {
			var cell = $(e);
			var app_phone_no = cell.text();
			
			if (app_phone_no.length > 0) {
				var button_sms = $('<button type="button">Send SMS</button>').button({icon: 'ui-icon-mail-closed', showLabel: false}).click(function() {
					var button = $(this);
					var row = button.parent().parent();
					var member_id = row.find('td.member_id').text();
					$('#FORM_SMS').resetForm().clearForm();
					$('#FORM_SMS input.member_id').val(member_id);
					$('#FORM_SMS textarea.sms_message').val(MSG_FOOTNOTE);
					$('#DIALOG_SMS').dialog('open');
				});
				
				cell.empty().append(button_sms).append('<label style="margin-left: 4px;">' + app_phone_no + '</label>');
			}
		});
	}
})[0];

$('#FORM_IMPORT_BRI button.ok').button().click(function() {
	var f = $('#FORM_IMPORT_BRI');
	var action = f.data('action');
	f.formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID_MONEY_TRANSFER_BRI,
			'action': action
		}, success: function(data) {
			$('#DIALOG_IMPORT_BRI').dialog('close');
			
			var rows = data.split(char_30);
			
			var uuid = rows.shift();
			$('#FORM_IMPORT_BRI_CONFIRM input.uuid').val(uuid);
			
			var html = '';
			for (var i = 0; i < rows.length; i++) {
				var cells = rows[i].split(char_31);
				var ecd = parseInt(cells[7], 10);
				var status = ecd == 0 ? 'normal' : 'error';
				html = html + '<tr class="even ' + status + '">';
				for (var j = 0; j < 5; j++) {
					html = html + '<td>' + cells[j] + '</td>';
				}
				html = html + '<td class="number">' + cells[5] + '</td>';
				html = html + '<td>' + cells[6] + '</td>';
				html = html + '<td class="number">' + cells[7] + '</td>';
				html = html + '</tr>\n';
			}
			$('#FORM_IMPORT_BRI_CONFIRM table tbody').empty().append(html);
			
			$('#AREA1').hide();
			$('#AREA2').show();
			$('#BUTTON_REFRESH').click();
		}, error: function(XMLHttpRequest, textStatus, errorThrown) {
			$('#DIALOG_IMPORT_BRI').dialog('close');
		}
	});
});

$('#FORM_IMPORT_BRI button.cancel').button().click(function() {
	$('#DIALOG_IMPORT_BRI').dialog('close');
});

$('#FORM_IMPORT_BRI_CONFIRM button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#FORM_IMPORT_BRI_CONFIRM button.ok').button().click(function() {
	$('#FORM_IMPORT_BRI_CONFIRM').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID_MONEY_TRANSFER_BRI,
			'action': 'confirm_bri'
		}, success: function(data) {
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});

$('#FORM_UPDATE_RECIPIENT button.cancel').button().click(function() {
	$('#DIALOG_UPDATE_RECIPIENT').hide();
	$('#AREA1').show();
});

$('#FORM_UPDATE_RECIPIENT button.ok').button().click(function() {
	var is_verified = $('#FORM_UPDATE_RECIPIENT input.is_verified').val();
	if (is_verified == '1') {
		var old_recipient_name = $('#FORM_UPDATE_RECIPIENT input.old_recipient_name').val().toUpperCase();
		var old_bank_code = $('#FORM_UPDATE_RECIPIENT input.old_bank_code').val();
		var old_bank_acc = $('#FORM_UPDATE_RECIPIENT input.old_bank_acc').val();
		
		var recipient_name = $('#FORM_UPDATE_RECIPIENT input.recipient_name').val().toUpperCase();
		var bank_code = $('#FORM_UPDATE_RECIPIENT select.bank_code').val();
		var bank_acc = $('#FORM_UPDATE_RECIPIENT input.bank_acc').autoNumeric('get');
		if ((recipient_name != old_recipient_name && !recipient_name.startsWith(old_recipient_name)) || bank_code != old_bank_code || bank_acc != old_bank_acc) {
			is_verified = '0';
			$('#FORM_UPDATE_RECIPIENT input.is_verified').val(is_verified);
		}
	}
	
	var bank_acc = $('#FORM_UPDATE_RECIPIENT input.bank_acc').autoNumeric('get');
	$('#FORM_UPDATE_RECIPIENT').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID_MONEY_TRANSFER,
			'action': 'updateRecipient',
			'bank_acc': bank_acc
		}, success: function(data) {
			var tokens = data.split(char_31);
			var lm_time = tokens.shift();
			var lm_user = tokens.shift();
			var member_id = tokens.shift();
			var recipient_id = tokens.shift();
			var recipient_name = tokens.shift();
			var bank_code = tokens.shift();
			var bank_name = tokens.shift();
			var bank_acc = tokens.shift();
			var recipient_lm_time = tokens.shift();
			var recipient_lm_user = tokens.shift();
			var is_verified = tokens.shift();

			bank_name = BANK_CODE_TO_NAME[bank_code];
			
			var tableBody = TABLE.funcGetTableBody();
			
			var txn_id = $('#FORM_UPDATE_RECIPIENT input.txn_id').val();
			tableBody.find('tr').each(function(i, e) {
				var row = $(e);
				var cell_txn_id = row.find('td.txn_id').first().text();
				if (cell_txn_id == txn_id) {
					row.find('td.recipient_id').text(recipient_id);
					row.find('td.lm_time').text(lm_time);
					row.find('td.lm_user').text(lm_user);
					return false;
				}
			});
			
			tableBody.find('tr').each(function(i, e) {
				var row = $(e);
				var cell_member_id = row.find('td.member_id').first().text();
				var cell_recipient_id = row.find('td.recipient_id').first().text();
				if (cell_member_id == member_id && cell_recipient_id == recipient_id) {
					if (is_verified == '1') {
						row.find('td.recipient_name label').addClass('verified').text(recipient_name);
						row.find('button.lock_recipient').button({disabled: true});
					} else {
						row.find('td.recipient_name label').removeClass('verified').text(recipient_name);
						row.find('button.lock_recipient').button({disabled: false});
					}
					row.find('td.bank_code').text(bank_code);
					row.find('td.bank_acc').text(bank_acc);
					row.find('td.bank_name').text(bank_name);
					row.find('td.is_verified').text(is_verified);
				}
			});
			
			$('#DIALOG_UPDATE_RECIPIENT').hide();
			$('#AREA1').show();
		}
	});
});

$('#BROWSE_RECIPIENT').button({icons: {primary: 'ui-icon-folder-open'}, text: false}).click(function() {
	var member_id = $('#FORM_UPDATE_RECIPIENT input.member_id').val();
	window.open('page.html?menu_row_id=53&member_id=' + member_id, 'browse_recipients', 'width=1024,height=768');
});

function onRecipientSelected(row) {
	var recipient_id = row.find('.recipient_id').text();
	var recipient_name = row.find('.recipient_name').text();
	var bank_code = row.find('.bank_code').text();
	var bank_acc = row.find('.bank_acc').text();
	var bank_name = row.find('.bank_name').text();
	var recipient_lm_time = row.find('.lm_time').text();
	var is_verified = row.find('.is_verified').text();
	
	$('#FORM_UPDATE_RECIPIENT input.recipient_id').val(recipient_id);
	$('#FORM_UPDATE_RECIPIENT input.recipient_name, #FORM_UPDATE_RECIPIENT input.old_recipient_name').val(recipient_name);
	$('#FORM_UPDATE_RECIPIENT select.bank_code, #FORM_UPDATE_RECIPIENT input.old_bank_code').val(bank_code);
	$('#FORM_UPDATE_RECIPIENT input.bank_name').val(bank_name);
	$('#FORM_UPDATE_RECIPIENT input.bank_acc, #FORM_UPDATE_RECIPIENT input.old_bank_acc').val(bank_acc);
	$('#FORM_UPDATE_RECIPIENT input.recipient_lm_time').val(recipient_lm_time);
	$('#FORM_UPDATE_RECIPIENT input.is_verified').val(is_verified);
}

var funcQuery = function(is_using_temp_table) {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
	
	var transfer_status_id = $('#QUERY select.transfer_status_id').val();
	var payment_info = $('#QUERY textarea.payment_info').val();
	
	if (transfer_status_id == '3') {
		var columns = TABLE.funcGetTableHeader();
		columns.find('tr td.sort').removeClass('default asc desc').addClass('default').attr('DIRECTION', 'default');
		columns.find('td[column_name=lm_time]').removeClass('default asc desc').addClass('desc').attr('DIRECTION', 'desc');
	}
	
	c.push('transfer_status_id');
	o.push('=');
	v.push(transfer_status_id);
	
	if (payment_info.length > 0) {
		var lines = payment_info.split('\n');
		var ary = [];
		for (var i = 0; i < lines.length; i++) {
			lines[i] = $.trim(lines[i]);
			if (lines[i].length > 0) {
				ary.push(lines[i]);
			}
		}
		
		c.push('payment_info');
		o.push('IN');
		v.push($.join(ary, ','));
	}
	
	var is_apps = [];
	if ($('#IS_APP_0').prop('checked')) {
		is_apps.push('0');
	}
	if ($('#IS_APP_1').prop('checked')) {
		is_apps.push('1');
	}
	if (is_apps.length > 0) {
		c.push('is_app');
		o.push('IN');
		v.push($.join(is_apps, ','));
	}
	
	if (is_using_temp_table) {
		sessionId = GLOBAL_SID;
		pageId = 'money_transfer_bri';
		joinSql = 'a.txn_id = b.long1';
	}
	
	var start_date = $('#QUERY input.start_date').val();
	var start_hour = $('#QUERY select.start_hour').val();
	var start_min = $('#QUERY select.start_min').val();
	var start_sec = $('#QUERY select.start_sec').val();
	
	var end_date = $('#QUERY input.end_date').val();
	var end_hour = $('#QUERY select.end_hour').val();
	var end_min = $('#QUERY select.end_min').val();
	var end_sec = $('#QUERY select.end_sec').val();
	
	if (start_date.length > 0 && end_date.length > 0) {
		var start_time = start_date + ' ' + start_hour + ':' + start_min + ':' + start_sec;
		var end_time = end_date + ' ' + end_hour + ':' + end_min + ':' + end_sec;
		
		c.push('lm_time_paid');
		o.push('BETWEEN');
		v.push(start_time + char_31 + end_time);
	} else if (start_date.length > 0) {
		var start_time = start_date + ' ' + start_hour + ':' + start_min + ':' + start_sec;
		
		c.push('lm_time_paid');
		o.push('>=');
		v.push(start_time);
	} else if (end_date.length > 0) {
		var end_time = end_date + ' ' + end_hour + ':' + end_min + ':' + end_sec;
		
		c.push('lm_time_paid');
		o.push('<=');
		v.push(end_time);
	}
	
	TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
};

$('#QUERY button.ok').button().click(function() {
	if ($('#QUERY_BRI').prop('checked')) {
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID_MONEY_TRANSFER_BRI,
				'action': 'sql_temp_table',
				'transfer_status_id': $('#QUERY select.transfer_status_id').val(),
				'bank_code': '002'
			}, success: function(data) {
				var count = parseInt(data, 10);
				funcQuery(true);
			}
		});
	} else {
		funcQuery(false);
	}
});

$('#TABLE_VERIFY_RECIPIENT button.ok').button().click(function() {
	var member_id = $('#TABLE_VERIFY_RECIPIENT input.member_id').val();
	var recipient_id = $('#TABLE_VERIFY_RECIPIENT input.recipient_id').val();
	sendRequest.relay({
		data: {
			'RelayId': RELAY_ID_MEMBER,
			'action': 'verify_recipient',
			'member_id': member_id,
			'recipient_id': recipient_id,
			'auto_update_name': '1'
		}, success: function(data) {
			var tokens = data.split(char_31);
			var status = tokens.shift();
			var recipient_name = tokens.shift();
			
			TABLE.funcGetTableBody().find('tr').each(function(i, e) {
				var row = $(e);
				if (row.find('td.member_id').text() == member_id && row.find('td.recipient_id').text() == recipient_id) {
					row.find('td.recipient_name label').addClass('verified').text(recipient_name);
					row.find('td.recipient_name button.lock_recipient').button({disabled: true});
				}
			});
			
			$('#DIALOG_VERIFY_RECIPIENT').dialog('close');
		}
	});
});

$('#TABLE_VERIFY_RECIPIENT button.cancel').button().click(function() {
	$('#DIALOG_VERIFY_RECIPIENT').dialog('close');
});

//# sourceURL=money_transfer_bri.js

</script>
