<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category" style="line-height: 27px;">建立時間:</td>
			<td colspan="3">
				<input type="text" class="start_time"/> ~ <input type="text" class="end_time"/>
			</td>
		</tr>
	
		<tr>
			<td class="category">通知名稱:</td>
			<td>
				<select id="notificationids" multiple="multiple"></select>
			</td>
		</tr>
		<tr>
			<td class="category">通知標題:</td>
			<td>
				<input type="text" name="title" class="title" value="" />
			</td>
		</tr>
		<tr>
			<td class="category">通知帳號:</td>
			<td>
				<select id="memberids" multiple="multiple"></select>
			</td>
		</tr>
		<tr>
			<td class="category">通知類型:</td>
			<td>
				<select name="type" class="type">
					<option value="">請選擇</option>
					<option value="點數異動">點數異動</option>
					<option value="訂單變更">訂單變更</option>
					<option value="匯率變更">匯率變更</option>
					<option value="公告(其它訊息)">公告(其它訊息)</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">讀取狀態:</td>
			<td>
				<select name="isReadable" class="isReadable">
					<option value="">請選擇</option>
					<option value="0">未讀</option>
					<option value="1">已讀</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<style>
#TABLE td .content {
	width: 300px;
}

#F textarea {
	width: 398px;
	height: 100px;
}

</style>

<script type="text/javascript">
var RELAY_ID = 'NotificationRecordHistory';
var char_31 = String.fromCharCode(31);
var char_30 = String.fromCharCode(30);

const initMemberIds = (member_ids = null) => {
	const id = '#memberids';
	
	if ($(id).hasClass("select2-hidden-accessible")) {
		$(id).select2('destroy');
		$(id).empty();   
	}
	
	$(id).select2({
		placeholder: 'Select Member',
		width: '398px',
		allowClear: true,
		ajax: {
			url: 'servlet/UrlEncodedFormData',
			dataType: 'JSON',
			type: 'POST',
			delay: 250,
			data: function(params) {
				const arc_no = params.term || "";
				const obj = {
					RelayId: RELAY_ID,
					action: 'findMember',
					page: 1,
					offset: 100,
					arc_no: '%' + arc_no + '%',
					SID: GLOBAL_SID,
					F: 'Relay',
					en: GLOBAL_LANGUAGE,
				};
				
				return obj;
			},
			processResults: function(data, params) {
				data = JSON.parse(data.ajaxdata);
				return data;
			}
		},
	});	
};

const initNotificationIds = (notification_ids = null) => {
	const id = '#notificationids';
	
	if ($(id).hasClass("select2-hidden-accessible")) {
		$(id).select2('destroy');
		$(id).empty();   
	}
	
	$(id).select2({
		placeholder: 'Select Name',
		width: '398px',
		allowClear: true,
		ajax: {
			url: 'servlet/UrlEncodedFormData',
			dataType: 'JSON',
			type: 'POST',
			delay: 250,
			data: function(params) {
				const name = params.term || "";
				const obj = {
					RelayId: RELAY_ID,
					action: 'findNotification',
					page: 1,
					offset: 100,
					name: '%' + name + '%',
					SID: GLOBAL_SID,
					F: 'Relay',
					en: GLOBAL_LANGUAGE,
				};
				
				return obj;
			},
			processResults: function(data, params) {
				data = JSON.parse(data.ajaxdata);
				return data;
			}
		},
	});	
};

$('#memberids').unbind();
$('#notificationids').unbind();
$('#QUERY input.start_time, #QUERY input.end_time').createDatePickerWritable();

initMemberIds();
initNotificationIds();

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.member.NotificationRecordHistory',
	viewMode: true,
	maxRow: 100,
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var notification_ids = $('#notificationids').val() || [];
	var title = $('#QUERY input.title').val();
	var isReadable = $('#QUERY .isReadable').val();
	var type = $('#QUERY .type').val();
	var member_ids = $('#memberids').val() || [];
	
	var start_time = $('#QUERY input.start_time').val().replace(/\//g, '');
	var end_time = $('#QUERY input.end_time').val().replace(/\//g, '');
	if (start_time.length > 0 && end_time.length > 0) {
		c.push('create_time');
		o.push('BETWEEN');
		v.push(`${moment(start_time).format("YYYY/MM/DD")} 00:00:00` + char_31 + `${moment(end_time).format("YYYY/MM/DD")} 23:59:59`);
	} else if (start_time.length > 0) {
		c.push('create_time');
		o.push('>=');
		v.push(`${moment(start_time).format("YYYY/MM/DD")} 00:00:00`);
	} else if (end_time.length > 0) {
		c.push('create_time');
		o.push('<=');
		v.push(`${moment(end_time).format("YYYY/MM/DD")} 23:59:59`);
	}
	
	if (notification_ids.length > 0) {
		c.push('notification_id');
		o.push('IN');
		v.push(notification_ids.join(','));
	}
	
	if(title.length > 0) {
		c.push('title');
		o.push('LIKE');
		v.push('%' + title + '%');
	}
	
	if (isReadable.length > 0) {
		c.push('isReadable');
		o.push('=');
		v.push(isReadable);
	}
	
	if (type.length > 0) {
		c.push('type');
		o.push('=');
		v.push(type);
	}
	
	if(member_ids.length > 0) {
		c.push('member_id');
		o.push('IN');
		v.push(member_ids.join(','));
	}
	
	TABLE.searchFor(c, o, v, f1, f2);
});

</script>
