﻿<div id="AREA1">
	<table id="QUERY" class="query" style="margin-bottom: 10px;">
		<tr>
			<td class="category">日期</td>
			<td><input type="text" class="start_date"/> ~ <input type="text" class="end_date"/></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<script type="text/javascript">
var RELAY_ID_ONLINE_SHOPPING_MANAGER_REPORT = 'shop.online_shopping_manager_report';
var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.report.OnlineShoppingManagerReport',
	viewMode: true,
	maxRow: 50,
	afterSetTableColumnEvent: function() {
		method.query();
	},
	afterSetTableDataEvent: function(rows) {
	}
})[0];

$('#QUERY input.start_date, #QUERY input.end_date').createDatePicker();
$('#QUERY input.start_date').datepicker('setDate', moment().add(-7, 'day').toDate());
$('#QUERY input.end_date').datepicker('setDate', new Date());

var method = {
	query: function() {
		var start_time = $('#QUERY input.start_date').val() + ' 00:00:00';
		var end_time = $('#QUERY input.end_date').val() + ' 23:59:59';
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID_ONLINE_SHOPPING_MANAGER_REPORT,
				'action': 'get',
				'start_time': start_time,
				'end_time': end_time
			},
			success: function(data) {
				var count = parseInt(data, 10);
				if (count > 0) {
					var c = [];
					var o = [];
					var v = [];
					var f1 = '', f2 = '', sessionId = '', pageId = '', joinSql = '';
					
					c.push('session_id');
					o.push('=');
					v.push(GLOBAL_SID);
					
					c.push('page_id');
					o.push('=');
					v.push('online_shopping_manager_report');
					
					TABLE.searchFor(c, o, v, f1, f2, sessionId, pageId, joinSql);
				} else {
					TABLE.funcEmptyTableBody();
				}
			}
		});
	}
};

$('#QUERY button.ok').button().click(method.query);

//# sourceURL=online_shopping_manager_report.js
</script>
