﻿<div id="AREA1">
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="id" name="id"/>
		<input type="hidden" class="photo_basename" name="photo_basename" />
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">APP Photo Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Seq no</td>
					<td><input type="text" name="seq_no" class="seq_no" value=""/></td>
				</tr>
				<tr>
					<td class="category">Status</td>
					<td>
						<select name="status" class="status">
							<option value="0">停用</option>
							<option value="1">啟用</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Photo</td>
					<td>
						<div style="margin-bottom: 5px;">
							<button id="SELECT_PHOTO">Select Photo</button>
						</div>
						<img alt="" src="" class="photo" style="width: 300px" />
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_PHOTO" title="Upload Photo">
	<form id="FORM_UPLOAD_PHOTO">
		<input type="hidden" class="photo_basename" name="photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="photo_upload" name="photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>


<script type="text/javascript">
	var RELAY_ID = 'CONFIG_APP_PHOTO';
	var char_31 = String.fromCharCode(31);
	var char_30 = String.fromCharCode(30);

	$('#AREA2').hide();

	$('#DIALOG_UPLOAD_PHOTO').dialog({
		modal: true,
		width: 450,
		autoOpen: false
	});

	$('#SELECT_PHOTO').button().click(function () {
		$('#DIALOG_UPLOAD_PHOTO').dialog('open');
		$('#FORM_UPLOAD_PHOTO input.photo_upload').click();
	});

	$('#FORM_UPLOAD_PHOTO button.cancel').button().click(function () {
		$('#DIALOG_UPLOAD_PHOTO').dialog('close');
	});

	$('#FORM_UPLOAD_PHOTO button.ok').button().click(function () {
		$('#FORM_UPLOAD_PHOTO').formSubmit({
			data: {
				'F': 'Relay',
				'RelayId': RELAY_ID,
				'action': 'photo_upload'
			},
			success: function (data) {
				var tokens = data.split(char_31);
				var photo_basename = tokens[0];
				var photo_url = tokens[1];
				
				$('#F input.photo_basename, #FORM_UPLOAD_PHOTO input.photo_basename').val(photo_basename);
				$('#F img.photo').attr('src', photo_url);
				$('#DIALOG_UPLOAD_PHOTO').dialog('close');
			}
		});
	});

	var TABLE = $('#TABLE').createTable({
		className: 'com.indogo.relay.config.AppPhotoConfiguration',
		imagePreviewWidth: '100px',
		imagePreviewHeight: '188px',
		executeInsert: function(callback) {
			$('#F').clearForm().resetForm();
			$('#F .seq_no').val(1);
			$('#F .status').val(1);
			$('#F input.photo_basename, #FORM_UPLOAD_PHOTO input.photo_basename').val('');
			$('#F img.photo').removeAttr('src');
			$('#F button.ok').data('action', 'insert');
			$('#F button.ok').data('callback', callback);
			$('#AREA1').hide();
			$('#AREA2').show();
		},
		executeUpdate: function(row, callback) {
			var id = row.filter('.id').text();
			
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'getDataForUpdate',
					'id': id
				},
				success: function(data) {
					var tokens = data.split(char_31);
					var id = tokens.shift();
					var photo_basename = tokens.shift();
					var seq_no = tokens.shift();
					var status = tokens.shift();
					var photo_url = tokens.shift();
					
					$('#F .id').val(id).attr('readonly', true);
					$('#F .seq_no').val(seq_no);
					$('#F select.status').val(status);					
					$('#F input.photo_basename').val(photo_basename);
					$('#F img.photo').attr('src', photo_url);
					
					$('#FORM_UPLOAD_PHOTO input.photo_basename').val('');
					
					$('#F button.ok').data('action', 'update');
					$('#F button.ok').data('callback', callback);
					$('#AREA1').hide();
					$('#AREA2').show();
				}
			});
		},
		executeDelete: function(row, callback) {
			var id = row.filter('.id').text();
	
			if (confirm('are you sure to delete ' + id + '?')) {
				sendRequest.relay({
					data: {
						'RelayId': RELAY_ID,
						'action': 'delete',
						'id': id
					},
					success: function(data) {
						callback(data);
					}
				});
			}
		}
	})[0];

	$('#F button.cancel').button().click(function() {
		$('#AREA2').hide();
		$('#AREA1').show();
	});

	$('#F button.ok').button().click(function() {
		var action = $(this).data('action');
		
		$('#F').formSubmit({
			data: {
				'F': 'Relay',
				'RelayId': RELAY_ID,
				'action': action
			},
			success: function(data) {
				var callback = $('#F button.ok').data('callback');
				callback(data);
				$('#AREA2').hide();
				$('#AREA1').show();
			}
		});
	});

	//# sourceURL=bank_code.js

</script>
