<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Bank Code:</td>
			<td>
				<select name="bank_code" class="bank_code"></select>
			</td>
		</tr>
		<tr>
			<td class="category">Account Name:</td>
			<td>
				<input type="text" name="account_name" class="account_name" />
			</td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="id" name="id"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Ban bank account Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Bank Code</td>
					<td>
						<select name="bank_code" class="bank_code"></select>
					</td>
				</tr>
				<tr>
					<td class="category">Account Name</td>
					<td><input type="text" name="account_name" class="account_name" value=""/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<script type="text/javascript">
var RELAY_ID = 'CONFIG_BAN_BANK_ACCOUNT';

$('#AREA2').hide();

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID,
		'action': 'init'
	},
	success: function (data) {
		var list = data.split(String.fromCharCode(31));
		var bank_code_list = list[0];
		var non_select_bank_code_list = list[0].replace(' selected', '');
		$('#QUERY select.bank_code').append('<option value="" selected>請選擇銀行</option>').append(non_select_bank_code_list);
		$('#F select.bank_code').append(bank_code_list);
	}
});

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.config.BanBankAccountConfiguration',
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
	executeInsert: function(callback) {
		$('#F').clearForm().resetForm();
		$('#F .bank_code');
		$('#F .account_name');
		$('#F button.ok').data('action', 'insert');
		$('#F button.ok').data('callback', callback);
		$('#AREA1').hide();
		$('#AREA2').show();
	},
	executeUpdate: function(row, callback) {
		var id = row.filter('.id').text();
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'getDataForUpdate',
				'id': id
			},
			success: function(data) {
				$('#F .id').val(id);
				
				var lines = data.split(String.fromCharCode(30));			
				var o = lines[0].split(String.fromCharCode(31));				
				$('#F .bank_code').val(o[1]);
				$('#F .account_name').val(o[2]);
				
				$('#F button.ok').data('action', 'update');
				$('#F button.ok').data('callback', callback);
				$('#AREA1').hide();
				$('#AREA2').show();
			}
		});
	},
	executeDelete: function(row, callback) {
		var id = row.filter('.id').text();

		if (confirm('are you sure to delete ' + id + '?')) {
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'delete',
					'id': id
				},
				success: function(data) {
					callback(data);
				}
			});
		}
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var bank_code = $('#QUERY .bank_code').val();
	if(bank_code.length > 0) {
		c.push('bank_code');
		o.push('=');
		v.push(bank_code);
	}
	
	var account_name = $('#QUERY .account_name').val();
	if(account_name.length > 0) {
		c.push('account_name');
		o.push('LIKE');
		v.push('%' + account_name + '%');
	}
	
	TABLE.searchFor(c, o, v, f1, f2);
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	var bank_code = $('#F .bank_code').val();
	var account_name = $('#F .account_name').val();

	if (action == 'insert' || action == 'update') {
		if (bank_code.length == 0) {
			alert('mini mart is empty');
			return;
		}
		
		if (account_name.length == 0) {
			alert('account_name is empty');
			return;
		}
	}
	
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': action,
		},
		success: function(data) {
			var callback = $('#F button.ok').data('callback');
			callback(data);
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});
</script>
