<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Phone no:</td>
			<td><input type="text" class="phone_no"/></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="id" name="id"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Ban Phone Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Phone no</td>
					<td><input type="text" name="phone_no" class="phone_no" value=""/></td>
				</tr>
				<tr>
					<td class="category">Description</td>
					<td><input type="text" name="description" class="description" value=""/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<script type="text/javascript">
var RELAY_ID = 'CONFIG_BAN_PHONE';

$('#AREA2').hide();

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.config.BanPhoneConfiguration',
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
	executeInsert: function(callback) {
		$('#F').clearForm().resetForm();
		$('#F .phone_no').removeAttr('disabled');
		$('#F .description').removeAttr('disabled');
		$('#F button.ok').data('action', 'insert');
		$('#F button.ok').data('callback', callback);
		$('#AREA1').hide();
		$('#AREA2').show();
	},
	executeUpdate: function(row, callback) {
		var id = row.filter('.id').text();
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'getDataForUpdate',
				'id': id
			},
			success: function(data) {
				$('#F .id').val(id);
				
				var lines = data.split(String.fromCharCode(30));
				
				var o = lines[0].split(String.fromCharCode(31));
				$('#F .phone_no').val(o[0]);
				$('#F .description').val(o[1]);
				
				$('#F button.ok').data('action', 'update');
				$('#F button.ok').data('callback', callback);
				$('#AREA1').hide();
				$('#AREA2').show();
			}
		});
	},
	executeDelete: function(row, callback) {
		var id = row.filter('.id').text();
		var phone_no = row.filter('.phone_no').text();

		if (confirm('are you sure to delete ' + phone_no + '?')) {
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'delete',
					'id': id
				},
				success: function(data) {
					callback(data);
				}
			});
		}
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var phone_no = $('#QUERY .phone_no').val();
	
	if (phone_no.length > 0) {
		c.push('phone_no');
		o.push('LIKE');
		v.push(phone_no + '%');
	}
	
	TABLE.searchFor(c, o, v, f1, f2);
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	var phone_no = $('#F .phone_no').val();
	if (action == 'insert') {
		if (phone_no.length == 0) {
			alert('phone no is empty');
			return;
		}
	}
	
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': action,
		},
		success: function(data) {
			var callback = $('#F button.ok').data('callback');
			callback(data);
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});
</script>
