<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Name:</td>
			<td><input type="text" class="name"/></td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="id" name="id"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">DOC Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Name</td>
					<td><input type="text" name="name" class="name" value=""/></td>
				</tr>
				<tr>
					<td class="category">Content</td>
					<td>
						<textarea name="content" class="content" value=""></textarea>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<style>
td .content {
	width: 850px;
	overflow-y: scroll;
}

td .content > div {
	height: 300px;
}

/*.note-editable { 
	font-family: Calibri !important; 
}*/

</style>
<script type="text/javascript" src="ui/summernote-0.8.16-dist/summernote-lite.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#F .content').summernote({
		minHeight: 300, 
		width: 850,
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Tahoma', 'Times New Roman', 'Verdana', 'Roboto', 'Century Gothic', 'Calibri'],
	});
});

var RELAY_ID = 'CONFIG_DOC';

$('#AREA2').hide();

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.config.DocConfiguration',
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
	executeInsert: function(callback) {
		$('#F').clearForm().resetForm();
		$('#F .name').removeAttr('disabled');
		$('#F .content').removeAttr('disabled');
		$('#F .content').summernote("code", "");
		$('#F button.ok').data('action', 'insert');
		$('#F button.ok').data('callback', callback);
		//$('#F .content').summernote('fontName', 'Calibri');
		$('#AREA1').hide();
		$('#AREA2').show();
		//$('.note-editable').css('font-family', 'Calibri');
	},
	executeUpdate: function(row, callback) {
		var id = row.filter('.id').text();
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'getDataForUpdate',
				'id': id
			},
			success: function(data) {
				$('#F .id').val(id);
				
				var lines = data.split(String.fromCharCode(30));
				
				var o = lines[0].split(String.fromCharCode(31));
				$('#F .name').val(o[0]);
				$('#F .content').val(o[1]);
				$('#F .content').summernote("code", o[1]);
								
				$('#F button.ok').data('action', 'update');
				$('#F button.ok').data('callback', callback);
				//$('#F .content').summernote('fontName', 'Calibri');
				
				$('#AREA1').hide();
				$('#AREA2').show();
				//$('.note-editable').css('font-family', 'Calibri');
			}
		});
	},
	executeDelete: function(row, callback) {
		var id = row.filter('.id').text();
		var name = row.filter('.name').text();

		if (confirm('are you sure to delete ' + name + '?')) {
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'delete',
					'id': id
				},
				success: function(data) {
					callback(data);
				}
			});
		}
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var name = $('#QUERY .name').val();
	
	if (name.length > 0) {
		c.push('name');
		o.push('LIKE');
		v.push(name + '%');
	}
	
	TABLE.searchFor(c, o, v, f1, f2);
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	var name = $('#F .name').val();
	if (action == 'insert') {
		if (name.length == 0) {
			alert('Name is empty');
			return;
		}
	}
	
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': action,
		},
		success: function(data) {
			var callback = $('#F button.ok').data('callback');
			callback(data);
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});
</script>
