<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Mini Mart:</td>
			<td>
				<select name="mini_mart_id" class="mini_mart_id"></select>
			</td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F">
		<input type="hidden" class="id" name="id"/>
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Mini mart authentication Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Mini Mart</td>
					<td>
						<select name="mini_mart_id" class="mini_mart_id">
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Account</td>
					<td><input type="text" name="account" class="account" value=""/></td>
				</tr>
				<tr>
					<td class="category">Password</td>
					<td><input type="text" name="password" class="password" value=""/></td>
				</tr>
				<tr>
					<td class="category">Code</td>
					<td><input type="text" name="code" class="code" value=""/></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<script type="text/javascript">
var RELAY_ID = 'CONFIG_MINI_MART_AUTHENTICATION';

$('#AREA2').hide();

sendRequest.relay({
	data: {
		'RelayId': RELAY_ID,
		'action': 'init'
	},
	success: function (data) {
		var list = data.split(String.fromCharCode(31));
		var mini_mart_list = list[0];
		$('#QUERY select.mini_mart_id').append(mini_mart_list);
		$('#F select.mini_mart_id').append(mini_mart_list);
	}
});

var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.config.MiniMartAuthenticationConfiguration',
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
	executeInsert: function(callback) {
		$('#F').clearForm().resetForm();
		$('#F .mini_mart_id');
		$('#F .account');
		$('#F .password');
		$('#F .code');
		$('#F button.ok').data('action', 'insert');
		$('#F button.ok').data('callback', callback);
		$('#AREA1').hide();
		$('#AREA2').show();
	},
	executeUpdate: function(row, callback) {
		var id = row.filter('.id').text();
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'getDataForUpdate',
				'id': id
			},
			success: function(data) {
				$('#F .id').val(id);
				
				var lines = data.split(String.fromCharCode(30));
				
				var o = lines[0].split(String.fromCharCode(31));
				$('#F .mini_mart_id').val(o[0]);
				$('#F .account').val(o[1]);
				$('#F .password').val(o[2]);
				$('#F .code').val(o[3]);
				
				$('#F button.ok').data('action', 'update');
				$('#F button.ok').data('callback', callback);
				$('#AREA1').hide();
				$('#AREA2').show();
			}
		});
	},
	executeDelete: function(row, callback) {
		var id = row.filter('.id').text();
		var mini_mart_name = row.filter('.mini_mart_id').text();

		if (confirm('are you sure to delete ' + mini_mart_name + '?')) {
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'delete',
					'id': id
				},
				success: function(data) {
					callback(data);
				}
			});
		}
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var mini_mart_id = $('#QUERY .mini_mart_id').val();
	c.push('mini_mart_id');
	o.push('=');
	v.push(mini_mart_id);
	
	TABLE.searchFor(c, o, v, f1, f2);
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	var mini_mart_id = $('#F .mini_mart_id').val();
	var account = $('#F .account').val();
	var password = $('#F .password').val();
	var code = $('#F .code').val();
	if (action == 'insert' || action == 'update') {
		if (mini_mart_id.length == 0) {
			alert('mini mart is empty');
			return;
		}
		
		if (account.length == 0) {
			alert('account is empty');
			return;
		}
		
		if (password.length == 0) {
			alert('password is empty');
			return;
		}
	}
	
	$('#F').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': action,
		},
		success: function(data) {
			var callback = $('#F button.ok').data('callback');
			callback(data);
			$('#AREA2').hide();
			$('#AREA1').show();
		}
	});
});
</script>
