﻿<div id="AREA1">
	<table id="QUERY" class="query">
		<tr>
			<td class="category">Name:</td>
			<td><input type="text" class="name" autocomplete="OFF"/></td>
		</tr>
		<tr>
			<td class="category">Exec Option:</td>
			<td>
				<select name="exec_option" class="exec_option">
					<option value="">請選擇</option>
					<option value="EVERYDAY">EVERY DAY</option>
					<option value="ONETIME">ONE TIME</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">通知類型:</td>
			<td>
				<select name="type" class="type">
					<option value="">請選擇</option>
					<option value="點數異動">點數異動</option>
					<option value="訂單變更">訂單變更</option>
					<option value="匯率變更">匯率變更</option>
					<option value="公告(其它訊息)">公告(其它訊息)</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">Exec Date:</td>
			<td>
				<input type="text" name="exec_date" class="exec_date" value="" autocomplete="OFF"/>
			</td>
		</tr>
		<tr>
			<td class="category">Exec Time:</td>
			<td>
				<select id="search_exec_times" name="exec_times">
					<option value=""></option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">Status:</td>
			<td>
				<select name="status" class="status">
					<option value="">請選擇</option>
					<option value="0">停用</option>
					<option value="1">啟用</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category">是否發送通知:</td>
			<td>
				<select name="need_send_message" class="need_send_message">
					<option value="">請選擇</option>
					<option value="0">不發送</option>
					<option value="1">會發送</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="category"></td>
			<td colspan="3"><button type="button" class="ok">Search</button></td>
		</tr>
	</table>
	<table id="TABLE">
	</table>
</div>

<div id="AREA2">
	<form id="F" autocomplete="OFF">
		<input type="hidden" class="id" name="id"/>
		<input type="hidden" class="exec_times" name="exec_times" />
		<input type="hidden" class="member_ids" name="member_ids" />
		<input type="hidden" class="photo_basename" name="photo_basename" />
		<table class="maintenance">
			<thead>
				<tr>
					<td class="category" colspan="2">Notification Configuration</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="category">Name</td>
					<td>
						<input type="text" name="name" class="name" value=""/>
					</td>
				</tr>
				<tr>
					<td class="category">Title</td>
					<td>
						<input type="text" name="title" class="title" value="" maxlength="250" />
					</td>
				</tr>
				<tr>
					<td class="category">Content</td>
					<td>
						<textarea name="content" class="content" maxlength="250"></textarea>
					</td>
				</tr>
				<tr>
					<td class="category">Photo</td>
					<td>
						<div style="margin-bottom: 5px;">
							<button id="SELECT_PHOTO">Select Photo</button>
						</div>
						<img alt="" src="" class="photo" style="width: 300px" />
					</td>
				</tr>
				<tr>
					<td class="category">Link</td>
					<td>
						<input type="text" name="link" class="link" value="" maxlength="250"/>
					</td>
				</tr>
				<tr>
					<td class="category">通知類型:</td>
					<td>
						<select name="type" class="type">
							<option value="點數異動">點數異動</option>
							<option value="訂單變更">訂單變更</option>
							<option value="匯率變更">匯率變更</option>
							<option value="公告(其它訊息)">公告(其它訊息)</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Status</td>
					<td>
						<select name="status" class="status">
							<option value="0">停用</option>
							<option value="1">啟用</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">是否發送通知</td>
					<td>
						<select name="need_send_message" class="need_send_message">
							<option value="0">不發送</option>
							<option value="1">會發送</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Exec Option</td>
					<td>
						<select name="exec_option" class="exec_option">
							<option value="EVERYDAY">EVERY DAY</option>
							<option value="ONETIME">ONE TIME</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="category">Exec Date</td>
					<td>
						<input type="text" name="exec_date" class="exec_date" value=""/>
					</td>
				</tr>
				<tr>
					<td class="category">Exec Time</td>
					<td>
						<select id="exectimes" multiple="multiple"></select>
					</td>
				</tr>
				<tr>
					<td class="category">Members</td>
					<td>
						<input type="file" name="import_arc_file" />
						<br />
						<select id="memberids" multiple="multiple"></select>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<div id="DIALOG_UPLOAD_PHOTO" title="Upload Photo">
	<form id="FORM_UPLOAD_PHOTO">
		<input type="hidden" class="photo_basename" name="photo_basename" />
		<table class="maintenance">
			<tbody>
				<tr>
					<td class="category">File</td>
					<td><input type="file" class="photo_upload" name="photo_upload" /></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<button class="ok" type="button">Ok</button>
						<button class="cancel" type="button">Cancel</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</div>

<style>
#TABLE td .content {
	width: 300px;
}

#F textarea {
	width: 398px;
	height: 100px;
}

#TABLE .member_ids {
	word-break: break-all;
    width: 750px;
    height: 200px;
    overflow: auto;
    display: block;
}

</style>
<script type="text/javascript">
var RELAY_ID = 'CONFIG_NOTIFICATION';
var char_31 = String.fromCharCode(31);
var char_30 = String.fromCharCode(30);

const datePickerConfig = {
  minDate: new Date(),
  dateFormat: 'yy-mm-dd'
};

const queryDatePickerConfig = {
  dateFormat: 'yy-mm-dd'
};

const generateExecTimeOptions = (id, select_exec_times = null) => {
	let index = 0;
	const interval = 30;
	const size = 24 * 60 / 30;
	const options = Array(size).fill(null).map((row, index) => {
		const value = moment().startOf('day').add(index * interval, 'minutes').format('HH:mm');
		return {id: value, text: value, selected: false};
	});
	
	if(select_exec_times) {
		select_exec_times.split(',').map((row) => {
			const index = options.findIndex(entry => entry.id === row);
			if(index === -1) {
				options.push({id: row, text: row, selected: true});
			} else {
				options[index].selected = true;
			}
		});
	}

	options.map((row) => {
		const option = new Option(row.text, row.id, false, row.selected);
		$(id).append(option).trigger('change');
	});
};

const initSearchExecTimes = () => {
	const id = '#search_exec_times'; 
	$(id).select2({
		width: '398px',
		tags: true
	});
	
	generateExecTimeOptions(id);
};

const initExecTimes = (exec_times = null) => {
	const id = '#exectimes';
	
	if ($(id).hasClass("select2-hidden-accessible")) {
		$(id).select2('destroy');
		$(id).empty();   
	}
		
	$(id).select2({
		placeholder: 'Select ExecTimes',
		width: '398px',
		tags: true,
		allowClear: true
	});
	
	generateExecTimeOptions(id, exec_times);
};

const initMemberIds = (member_ids = null) => {
	const id = '#memberids';
	
	if ($(id).hasClass("select2-hidden-accessible")) {
		$(id).select2('destroy');
		$(id).empty();
	}
	
	$(id).select2({
		placeholder: 'Select Members',
		width: '398px',
		allowClear: true,
		ajax: {
			url: 'servlet/UrlEncodedFormData',
			dataType: 'JSON',
			type: 'POST',
			delay: 250,
			data: function(params) {
				const arc_no = params.term || "";
				const obj = {
					RelayId: RELAY_ID,
					action: 'findMember',
					page: 1,
					offset: 100,
					arc_no: '%' + arc_no + '%',
					SID: GLOBAL_SID,
					F: 'Relay',
					en: GLOBAL_LANGUAGE,
				};
				
				return obj;
			},
			processResults: function(data, params) {
				data = JSON.parse(data.ajaxdata);
				return data;
			}
		},
	});	
	
	if(member_ids) {
		sendRequest.relay({
			data: {
				RelayId: RELAY_ID,
				action: 'findMember',
				page: 1,
				offset: 100,
				member_ids
			},
			success: function(data) {				
				data = JSON.parse(data);
				data.results = data.results.map((row) => {
					row.selected = true;
					console.log(row);
					const option = new Option(row.text, row.id, false, row.selected);
					$(id).append(option).trigger('change');
				});
			}
		});
	}
};

$('#AREA2').hide();

$('#DIALOG_UPLOAD_PHOTO').dialog({
	modal: true,
	width: 450,
	autoOpen: false
});

$('#SELECT_PHOTO').button().click(function () {
	$('#DIALOG_UPLOAD_PHOTO').dialog('open');
	$('#FORM_UPLOAD_PHOTO input.photo_upload').click();
});

$('#FORM_UPLOAD_PHOTO button.cancel').button().click(function () {
	$('#DIALOG_UPLOAD_PHOTO').dialog('close');
});

$('#FORM_UPLOAD_PHOTO button.ok').button().click(function () {
	$('#FORM_UPLOAD_PHOTO').formSubmit({
		data: {
			'F': 'Relay',
			'RelayId': RELAY_ID,
			'action': 'photo_upload'
		},
		success: function (data) {
			var tokens = data.split(char_31);
			var photo_basename = tokens[0];
			var photo_url = tokens[1];
			
			$('#F input.photo_basename, #FORM_UPLOAD_PHOTO input.photo_basename').val(photo_basename);
			$('#F img.photo').attr('src', photo_url);
			$('#DIALOG_UPLOAD_PHOTO').dialog('close');
		}
	});
});

$('#F input.exec_date').datepicker(datePickerConfig);
$('#QUERY input.exec_date').datepicker(queryDatePickerConfig);

initSearchExecTimes();

$('#F input[name="import_arc_file"]').change(function(event) {
	const id = '#memberids';
	const files = event.target.files;
	const maxCount = 1000;
	if(files.length) {
		const reader = new FileReader();
		const file = files[0];
		reader.onload = (event) => {
			const data = event.target.result;
			const workbook = XLSX.read(data, {type: 'binary'});
			const sheetName = workbook.SheetNames[0]; 
			XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]).filter(entry => entry.ARC && entry.ARC.length > 0).slice(0, maxCount).map((entry) => {
       			const row = {
       				selected: true,
       				text: entry.ARC,
       				id: entry.member_id
       			};
        			
       			console.log(row);
       			const option = new Option(row.text, row.id, false, row.selected);
       			$(id).append(option).trigger('change');
       		});		
		};
		
		reader.onloadstart = () => {
			$('#ueLoadingDialog').dialog('open');
			$(id).val(null).trigger('change');
		};
		
		reader.onloadend = () => {
			const value = $(id).val() || [];
			$('#ueLoadingDialog').dialog('close');
			$(id).prop("disabled", value.length > 0);
		};
		
		reader.readAsBinaryString(file);
	} else if ($(id).hasClass("select2-hidden-accessible")) {
		$(id).val(null).trigger('change');
		$(id).prop("disabled", false);
	}
});


var TABLE = $('#TABLE').createTable({
	className: 'com.indogo.relay.config.NotificationConfiguration',
	imagePreviewWidth: '150px',
	imagePreviewHeight: '150px',
	afterSetTableColumnEvent: function() {
		$('#QUERY button.ok').click();
	},
	executeInsert: function(callback) {				
		$('#F').clearForm().resetForm();
		$('#F .name').val('');
		$('#F .title').val('');
		$('#F .content').val('');
		$('#F input.photo_basename, #FORM_UPLOAD_PHOTO input.photo_basename').val('');
		$('#F img.photo').removeAttr('src');
		$('#F .link').val('');
		$('#F .type').val('公告(其它訊息)');
		$('#F .status').val('1');
		$('#F .need_send_message').val('1');
		$('#F .exec_option').val('EVERYDAY');
		$('#F .exec_date').val(moment().format('YYYY-MM-DD'));
		$('#exec_times').val('');
		$('#member_ids').val('');
		$('#F button.ok').data('action', 'insert');
		$('#F button.ok').data('callback', callback);
		
		initExecTimes();
		initMemberIds();
		
		$('#AREA1').hide();
		$('#AREA2').show();
	},
	executeUpdate: function(row, callback) {
		var id = row.filter('.id').text();
		
		sendRequest.relay({
			data: {
				'RelayId': RELAY_ID,
				'action': 'getDataForUpdate',
				'id': id
			},
			success: function(data) {
				var tokens = data.split(char_31);
				var id = tokens.shift();
				var name = tokens.shift();
				var title = tokens.shift();
				var content = tokens.shift();
				var photo_basename = tokens.shift();
				var link = tokens.shift();
				var type = tokens.shift();
				var status = tokens.shift();
				var need_send_message = tokens.shift();
				var exec_option = tokens.shift();
				var exec_date = tokens.shift();
				var exec_times = tokens.shift();
				var member_ids = tokens.shift();
				var photo_url = tokens.shift(); 
				
				$('#F .id').val(id).attr('readonly', true);
				$('#F .name').val(name);
				$('#F .title').val(title);
				$('#F .content').val(content);
				$('#F .link').val(link);
				$('#F .type').val(type);
				$('#F select.status').val(status);
				$('#F select.need_send_message').val(need_send_message);
				$('#F .exec_option').val(exec_option);
				$('#F .exec_date').val(exec_date);
				$('#F .exec_times').val(exec_times);
				$('#F .member_ids').val(member_ids);
				$('#F input.photo_basename').val(photo_basename);
				$('#F img.photo').attr('src', photo_url);
				
				$('#FORM_UPLOAD_PHOTO input.photo_basename').val('');
				
				initExecTimes(exec_times);
				initMemberIds(member_ids);
				
				$('#F button.ok').data('action', 'update');
				$('#F button.ok').data('callback', callback);
				$('#AREA1').hide();
				$('#AREA2').show();
			}
		});
	},
	executeDelete: function(row, callback) {
		var id = row.filter('.id').text();
		var name = row.filter('.name').text();

		if (confirm('are you sure to delete ' + name + '?')) {
			sendRequest.relay({
				data: {
					'RelayId': RELAY_ID,
					'action': 'delete',
					'id': id
				},
				success: function(data) {
					callback(data);
				}
			});
		}
	}
})[0];

$('#QUERY button.ok').button().click(function() {
	var c = [];
	var o = [];
	var v = [];
	var f1 = '', f2 = '';
	
	var name = $('#QUERY .name').val();
	var exec_option = $('#QUERY .exec_option').val();
	var exec_date = $('#QUERY .exec_date').val();
	var exec_times = $('#search_exec_times').val();
	var status = $('#QUERY .status').val();
	var type = $('#QUERY .type').val();
	var need_send_message = $('#QUERY .need_send_message').val();
	
	if (name.length > 0) {
		c.push('name');
		o.push('LIKE');
		v.push('%' + name + '%');
	}
	
	if (status.length > 0) {
		c.push('status');
		o.push('=');
		v.push(status);
	}
	
	if (type.length > 0) {
		c.push('type');
		o.push('=');
		v.push(type);
	}
	
	if (need_send_message.length > 0) {
		c.push('need_send_message');
		o.push('=');
		v.push(need_send_message);
	}
	
	if (exec_option.length > 0) {
		c.push('exec_option');
		o.push('=');
		v.push(exec_option);
	}
	
	if (exec_date.length > 0) {
		c.push('exec_date');
		o.push('=');
		v.push(exec_date);
	}
	
	if (exec_times.length > 0) {
		c.push('exec_times');
		o.push('LIKE');
		v.push('%' + exec_times + '%');
	}
	
	TABLE.searchFor(c, o, v, f1, f2);
});

$('#F button.cancel').button().click(function() {
	$('#AREA2').hide();
	$('#AREA1').show();
});

$('#F button.ok').button().click(function() {
	var action = $(this).data('action');
	var name = $('#F .name').val();
	var title = $('#F .title').val();
	var content = $('#F .content').val();
	var exec_option = $('#F .exec_option').val();
	var exec_date = $('#F .exec_date').val();
	var exec_times = $('#exectimes').val() || [];
	var member_ids = $('#memberids').val() || [];

	if (name.length == 0) {
		alert('Name is empty');
		return;
	}
	
	if(title.length == 0) {
		alert('Title is empty');
		return;
	}
	
	if (content.length == 0) {
		alert('Content is empty');
		return;
	}
	
	if (exec_date.length == 0) {
		alert('Exec Date is empty');
		return;
	}
	
	$('#F input.exec_times').val(exec_times.join(','));
	$('#F input.member_ids').val(member_ids.join(','));
	
	var allow = exec_times.length > 0;
	if(!allow) {
		allow = confirm('未設定Exec Time, 如正確請點選 OK, 重新設定請點選 Cancel');
	}
	
	if(allow) {
		$('#F').formSubmit({
			data: {
				'F': 'Relay',
				'RelayId': RELAY_ID,
				'action': action,
			},
			success: function(data) {
				var callback = $('#F button.ok').data('callback');
				callback(data);
				$('#AREA2').hide();
				$('#AREA1').show();
				
				$('#exec_times').val(null).trigger('change');
				$('#member_ids').val(null).trigger('change');
			}
		});	
	}
});
</script>
